/* Here are styles that should not be integrated to pper exported content */

#navigation {
  display: flex;
  text-transform: uppercase;
  background-color: #555;
}

#navigation img { height: 4rem; width: 5rem; margin: 0 0.75rem; }

#navigation > div {
  font-family: "Arial Narrow",sans-serif;
  font-size: 14px;
  padding: 0 0.5rem;
}
#navigation > div a {
  height: 4rem;
  display: flex;
  align-items: center;
}
#navigation > div:hover {
  background-color: #676767;
}

#navigation a {
  text-decoration: none;
  color: white;
}
