{% extends "eprocom/eprocom_base.html" %}
{% load eprocom %}

{% block eprotitle %}
    <h1 class="{{ domain }} smaller">
        Pistes pour l’évaluation - Mathématiques - 8<sup>e</sup> année<br>
    </h1>
    {% if chapter_title %}<h1 class="{{ domain }}">{{ chapter_title }}</h1>{% endif %}
{% endblock %}

{% block eprocontent %}
    {% if page_title %}<h2 class="{{ domain }}">{{ page_title }}</h2>{% endif %}

    {% if block_name %}
        {% editable_block block_name %}
    {% endif %}

    {% if itemlist or empty_message %}
        {% include 'eprocom/maths-8/maths-materials.html' %}
    {% endif %}

{% endblock %}
