{% load eprocom %}
<div class="contenu">{{ item.contenu|safe }}</div>

{% if item.oper_diff or item.get_format_question_diff_display %}
<div>
    <strong>Difficulté de la question :</strong>
    {% if item.oper_diff %}opération {{ item.oper_diff }}; {% endif %}
    {% if item.get_format_question_diff_display %}format {{ item.get_format_question_diff_display }}{% endif %}
</div>
{% endif %}

<details>
    <summary>PER</summary>
    {% for per_item in item.progressions %}
        {% if forloop.first %}
        <strong>Progression(s) des apprentissages touchée(s)</strong><br>
        {% endif %}
        <div class="progression">
            {{ per_item.progression|safe }}
            {% if not per_item.progression|endswith:":" %}(<a href="{{ per_item.pper_url }}#{{ per_item.cellule_pk|default_if_none:'' }}" target="_blank">{{ per_item.obj_code }}</a>){% endif %}
        </div>
    {% endfor %}
</details>

<details>
    <summary>Mise en œuvre et corrigé</summary>
    <div>
        <h3>Matériel à disposition</h3>
        {% if item.mat_dispo %}{{ item.mat_dispo|safe }}{% else %}<em>Aucun</em>{% endif %}
    </div>
    <div>
        <h3>Corrigé</h3>
        {% if item.corrige %}{{ item.corrige|safe }}{% else %}<em>Aucun</em>{% endif %}
    </div>
    {% if item.didac_vars %}
    <div class="didac_vars">
        <h3>Possibles variables didactiques <img src="{% static 'img/help.png' %}" class="tooltip"
           data-tippy-content="Remarque : les variables didactiques correspondent aux paramètres d'une tâche qui peuvent être modifiés. Elles peuvent agir sur la difficulté, les procédures de résolution et impacter l’enjeu de la tâche.">
        </h3>
        {{ item.didac_vars|safe }}
    </div>
    {% endif %}
</details>

{% if item.actions_ops or item.success_fact %}
<details class="demarches_erreurs">
    <summary>Démarches et erreurs possibles</summary>
    {% if item.actions_ops %}
    <div>
        <h3>Éléments attendus (même implicitement) dans la production de l’élève</h3>
        <div class="elements_attendus">
            {{ item.actions_ops|safe }}
        </div>
    </div>
    {% endif %}
    {% if item.success_fact %}
    <div>
        <h3>Erreurs observées (exemples)</h3>
        <div class="erreurs_observees">
            {{ item.success_fact|safe }}
        </div>
    </div>
    {% endif %}
</details>
{% endif %}
