{% if itemlist %}
<p class="mb-4">
    <b>☝ Les tâches sont affichées par ordre alphabétique de leur titre. Il est ainsi possible que, pour certaines d’entre elles, le chapitre du PER sélectionné soit secondaire par rapport aux éléments évalués à travers celles-ci.</b>
</p>
{% endif %}
{% for item in itemlist %}
<div id="item-{{ item.id }}" class="item-container {{ domain }}">
    <div class="item-title">
        {{ item.title }}
        {% if item.is_new %}<div class="item-new">nouveau</div>{% endif %}
        {% if perms.eprocom.add_item %}
        <a class="permalink" href="{{ request.path }}#item-{{ item.id }}" title="Lien permanent vers cet élément">
            <img src="{% static 'img/link-ressource-icon.svg' %}">
        </a>
        {% endif %}
    </div>

    <div class="item-undertitle">
        <div>
        {% for renvoi in item.liens_objectifs %}
            {% if forloop.first %}<ul>{% endif %}
            <li><a href="{{ renvoi.1 }}">{{ renvoi.0 }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
        </div>

        {% if item.lien_notice %}
        <div class="text-right">
            &gt; <a href="{{ item.lien_notice }}" target="_blank">Doc. à télécharger <span class="mmicon">=</span></a>
        </div>
        {% endif %}
    </div>

    <table class="item-class">
        <tr><th>Tâche technique</th><th>Tâche d’application</th><th>Problème</th><th>Problème atypique</th></tr>
        <tr>
            <td width="25%">{% if item.categ_tache == "Tâche technique" %}X{% endif %}</td>
            <td width="25%">{% if item.categ_tache == "Tâche d'application" %}X{% endif %}</td>
            <td width="25%">{% if item.categ_tache == "Problème" %}X{% endif %}</td>
            <td width="25%">{% if item.categ_tache == "Problème atypique" %}X{% endif %}</td>
        </tr>
    </table>
    <div class="item-description">{{ item.descr_tache|safe }}</div>

    <details class="first-level">
        <summary>Détails de la tâche</summary>
        <div id="details-{{ item.id }}" class="item-detail">
            {% include 'eprocom/maths-8/item-detail.html' %}
        </div>
    </details>
</div>
{% empty %}
    <p class="empty_message">{{ empty_message|default:'Aucune piste dans cette rubrique' }}</p>
{% endfor %}
