body {
  font-family: Roboto,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
  font-size: 14px;
  max-width: 1400px;
}
summary { cursor: pointer; font-variant: small-caps; font-weight: bold; font-style: italic; }
details { margin-top: 0.5em; }
details > *:not(summary) { margin-left: 1em; }
details.no-marker summary::-webkit-details-marker, details.no-marker summary::marker {
  content: '+'; font-size: 160%;
}
details.no-marker[open] summary::-webkit-details-marker, details.no-marker[open] summary::marker {
  content: '-'; font-size: 160%;
}
.disabled { opacity: 0.4; font-style: italic; }
.text-right { text-align: right; }
ul.no-bullets { list-style: none; }
.mb-4 { margin-bottom: 1.5rem; }

.menuheader { font-size: 106%; }
#eproheader { display: flex; }
#eprotitle { flex-grow: 1; }
#eprocontainer { display: flex; min-height: 100%; }
#eprologo, #leftsidebar { width: 22%; margin-right: 0.8em; }
#eprologo { text-align: center; }
#eprologo img { height: 4rem; }
#eprocontent { width: 80%; }
#eprocontent > *:nth-child(1) { margin-top: 0; }
.epro-bloc table { border-collapse: collapse; }
.epro-bloc td { border: 1px solid #ccc; padding: 4px; }
#search_form > div { display: flex; width: 100%; margin-bottom: 0.5em; }
#search_form input { width: 80%; }
#search_form button {
  background-color: white;
  border: 1px solid #999;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
}
#search_form button > img { height: 1em; width: 1em; }
p.empty_message { font-size: 120%; margin-top: 1em !important; }
.leftmenu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.leftmenu a { text-decoration: none; color: black; }
.leftmenu > ul { margin: 0; padding-left: 0; list-style-type: none; }
.leftmenu > ul:nth-child(1) > li { margin-bottom: 1em; }
.leftmenu > ul > li > div { font-weight: bold; cursor: pointer; }
.leftmenu > ul > li {
  border: 1px solid black; padding: 0.4em 0.6em;
}
.leftmenu.L > ul > li { background-color: var(--L-medium); }
.leftmenu.MSN > ul > li { background-color: var(--MSN-medium); }

.leftmenu > ul > li > ul {
  padding-left: 1.5em;
}
.leftmenu > ul > li > ul > li {
  list-style-type: square;
  padding: 2px 0;
}
.leftmenu > ul > li > ul > li:hover {
  font-style: italic;
}
.leftmenu > ul > li > ul > li > ul {
  padding-left: 0.5em;
  list-style-type: none;
}
.openmenu { float: right; font-size: large; color: gray; }
.leftmenu.MSN .active, .leftmenu.MSN .active a {
  color: var(--MSN-light); font-style: italic; font-weight: bold; cursor: default;
}
.leftmenu.L .active, .leftmenu.L .active a {
  color: var(--L-light); font-style: italic; font-weight: bold; cursor: default;
}
.menutitle { font-weight: bold; font-size: 120%; margin-bottom: 0.2em; }
.subsub { margin-left: 0.4em; list-style-type: none !important; text-indent: -7px; }
.subsub:before { content: "- " }

.submenu {
  position: absolute; top: 0; left: -500px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.8s, opacity 0.8s;
}
.leftmenu > ul > li > .submenu.open {
  position: relative; left: 0px;
  visibility: visible; opacity: 1;
}

#content-wrapper h1 {
  margin-top: 0;
  padding: 0.4em 0.4em 0.5em;
  text-align: center;
}
.domain-L h1, h1.L {
  color: white !important; background-color: var(--L-medium);
}
.domain-MSN h1, h1.MSN {
  color: white !important; background-color: var(--MSN-medium);
}
.domain-L h2 {
  color: black; background-color: var(--L-light);
  padding: 0.3em;
}
.domain-MSN h2 {
  color: black; background-color: var(--MSN-light);
  padding: 0.3em;
}
.domain-L h3 {
  color: var(--L-dark);
}
.domain-MSN h3 {
  color: var(--MSN-dark);
  margin-bottom: 0.5em;
}

h1.smaller { font-size: 140%; margin-bottom: 0; }
.epro-bloc:hover .edit_div { display: block; }
.edit_div { text-align: right; display: none; }
.edit_img { cursor: pointer; }
.item-container { margin-bottom: 2.5em; }
.MSN .item-title, .material-title {
  border: 2px solid black;
  padding: 4px;
  font-size: 140%;
  font-weight: bold;
}
.MSN .item-title { border-color: red; }
.material-title { border-color: var(--L-dark); margin-bottom: 2px; }


.highlight { background-color: yellow; }
.permalink { display: none; float: right; opacity: 0.5; width: 1em; }
.item-title:hover .permalink, .material-title:hover .permalink { display: block; }
.item-undertitle { display: flex; justify-content: space-between; }
.item-undertitle ul { margin-bottom: 0; margin-top: 0.3em; }
.item-new {
  display: inline-block;
  font-variant: small-caps;
  font-weight: normal;
  font-size: 65%;
  margin-left: 2em;
  margin-top: -5px !important;
  color: black;
  background-color: #b0f0f0;
  padding: 2px 6px;
  transform: rotate(-10deg) translate(0,-4px);
}
.item-detail { margin-left: 2em; }
.item-detail img, .item-li img { max-width: 100%; }
.item-class { border-collapse: collapse; margin-top: 1em; }
.item-class th { background-color: #555; color: white; padding: 0.3em 2em; }
.item-class td { background-color: white !important; border-bottom: 1px solid gray; height: 1.5em; text-align: center; }
.item-class td:not(:empty) { background-color: var(--MSN-light) !important; font-weight: bold; }
.item-class td:first-child { border-left: 1px solid gray; }
.item-class td:last-child { border-right: 1px solid gray; }
.fra-items { padding-left: 1.5em; }
.item-li { border: 1px dotted #ddd; padding: 0.5em; border-bottom: 15px solid #aaa; background-color: #fafafa; }
.variante { margin-top: 0.5em; font-style: italic; }
.variante-nom { font-weight: bold; color: #0984FE; }
.progression { margin: 0.2em 0 0.2em 2em; }
.progression ul { margin: 0; }
h3.genre_textuel { color: black; background-color: var(--L-medium); padding:0.4em; }

div.contenu {
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #eee;
  margin: 0.7em 0;
}
#eprocontent table { border-collapse: collapse; }
#eprocontent table td {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #eee;
  vertical-align: top;
}
#eprocontent table p { margin: 0; }
#eprocontent table p:empty { margin-bottom: 21px; }

.elements_attendus table {
    table-layout: fixed;
    width: 100%;
}

/* admin styles */
#admin-list { list-style-type: none; }
#admin-list li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 1em;
}
#admin-list li.unimported {
  background-color: #ffc5c5;
}
div.pagination { text-align: center; }
