/* Lists */
ul,
ol {
  padding-left: 13px;
}

/* Task list */
ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  display: flex;
  align-items: baseline;
}

ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

/* Horizontal rule */
hr.ProseMirror-selectednode {
  border-top: 1px solid #000;
}

/* Table */
.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.ProseMirror td,
.ProseMirror th {
  min-width: 1em;
  border: 1px solid black;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.ProseMirror td > *,
.ProseMirror th > * {
  margin-bottom: 0;
}

.ProseMirror th {
  background-clip: padding-box;
  background-color: #f1f3f5;
  font-weight: bold;
  text-align: left;
}

.ProseMirror p {
  margin: 0;
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}
