.check-ok { font-weight: bold; color: green; }
.check-unk { font-weight: bold; color: orange; }
.check-ko { font-weight: bold; color: red; }
#id_status { list-style-type: none; }

.pagination {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}
.pagination a { color: #007bff; }
.pagination a:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.pagination a, .pagination .disabled, .pagination .active {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
