h1 { text-transform: uppercase; }
.group-head { text-transform: uppercase; }
table img { max-height: 150px; }
th { vertical-align: top; text-align: left; }
th, td { padding: 3px; }
tr.value:nth-child(even) {
    background-color: #eee;
}
p { margin: 0; }
img.thumbnail { float: right; }
tr.per { font-size: smaller; }
li[class*="titre1"]  { padding: 4px 8px; opacity: 0.7; }
