@font-face { font-family: MultimediaIcons; src: url("../fonts/multimediaicons.woff"); }
html { box-sizing: border-box; }
body { margin: 0; font-family: Helvetica, Arial, sans-serif; background-color: white; }
a { text-decoration: none; color: #555; border-bottom: 1px dotted #ccc; }
a:hover { color: black; }
span.mmicon { font-family: "MultimediaIcons"; font-size: 20px; margin-right: 5px; }
header { display: flex; justify-content: space-between; align-items: center; background-color: #efefef; border-bottom: 1px solid #ddd; width: 100%; }
.logo img { height: 91px; }
.head-title { text-align: right; padding-right: 1em; }
.head-title a { display: inline-block; text-align: center; color: white; background-color: #777; border-radius: 5px; padding: 5px 8px; user-select: none; }
.head-title a:hover { background-color: black; }
.main-container { margin: 0 auto; max-width: 1300px; }
h1 { font-size: 220%; color: #222; text-align: center; }
.video-line { text-align: center; margin: 0 auto; max-width: 100%; }
.video-line iframe { max-width: 100% !important; }
.view-on-site { font-size: 0.7em; }
.wrapper { display: flex; }
.wrapper.vdata > div { width: 50%; }
.wrapper > div { margin: 1em; }
.thumbnail { max-width: 22em; }
.main_descr { font-size: 120%; }
.main_descr > p:first-child { margin-top: 0; }
.aller { text-align: center; }
.aller a {
  display: inline-block;
  font-size: 140%;
  padding: 8px 15px; margin: 4px 0;
  border-radius: 4px; border: 1px solid grey;
  background-color: #efefef;
}
.aller a:hover { background-color: #ddd; }

#metadata {
  background-color: #efefef; border-radius: 12px; max-width: 1300px;
  margin: 0.3em auto; padding: 0.5em;
}
div.description { border-bottom: 1px solid #ddd; padding-bottom: 1em; padding-left: 0.5em; margin-bottom: 0; }
div.description p { margin-top: 0.2em; margin-bottom: 0.2em; }
.minimized { background-color: white !important; }
.minimized .meta-container, .minimized div { display: none !important; }
#metadata-toggle { cursor: pointer; }
.meta-container { display: grid; grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); grid-gap: 5px; }
.meta-block { padding: 0.5em; }
.meta-label { color: #eb4040; font-size: 1em; }
.meta-content { color: #222; font-size: 0.8em; }
#edit-icon { text-align: right; }

div.gallery { display: flex; justify-content: space-around; flex-wrap: wrap; }
div.gallery a { margin-bottom: 10px; }
div.gallery figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
div.gallery figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
div.gallery-download { margin-top: 1em; text-align: right; }
div#gallery-resources input[id$="DELETE"] { visibility: hidden; }
div#gallery-resources label[for$="DELETE"] { display: none; }

@media (max-width: 1150px) {
    .wrapper.vdata { flex-direction: column; }
    .wrapper.vdata > div { width: auto; }
}
@media (max-width: 760px) {
    .wrapper { flex-wrap: wrap; }
    h1 { font-size: 160%; }
}
