{% extends "admin/index.html" %}

{% block content %}
<div style="float:left; width: 100%;">
    {% if user.is_superuser %}
    <p><a href="../export2xml/">Exporter le contenu en format XML</a></p>
    {% endif %}
</div>
{{ block.super }}
{% endblock %}
