{% extends "admin/change_form.html" %}
{% block field_sets %}
  Referenced in:<ul>
  {% for ref in original.refs %}
    <li>{{ ref.specification }} {% if ref.group %}(in {{ ref.group }}){% endif %}</li>
  {% endfor %}</ul>
  {{ block.super }}
{% endblock %}
