{% for material in materials %}
<div id="material-{{ material.id }}" class="material-container">
    <h3 class="material-title">
        {{ material.title }}
        {% if material.is_new %}<div class="item-new">nouveau</div>{% endif %}
        {% if perms.eprocom.add_item %}
        <a class="permalink" href="{{ request.path }}#material-{{ material.id }}" title="Lien permanent vers cet élément">
            <img src="{% static 'img/link-ressource-icon.svg' %}">
        </a>
        {% endif %}
    </h3>
    {% if material.lien_notice %}
        <div class="text-right">
            &gt; <a href="{{ material.lien_notice }}" target="_blank">Doc. à télécharger</a> <span class="mmicon">=</span>
        </div>
    {% endif %}
    <div><b>Difficulté du texte</b> : {{ material.description }}</div>
    <p><strong>Longueur :</strong> {{ material.longueur }}</p>
    <p><a href="{{ material.document.url }}">Voir le texte</a> <small><i>(en pdf ; la version modifiable du texte et des questions est disponible sous «Doc. à télécharger»)</i></small>
    </p>

    {% if material.has_variantes %}
    <p>Les <strong>questions associées au texte</strong> sont classées selon le <strong>type d’opération cognitive à mobiliser</strong>. Certaines questions ont été déclinées en variantes «a», «b», «c», avec un niveau de difficulté différent. Ces questions varient principalement au niveau du <a href="{% url 'epro-page' 'francais-8/eclairages_difficulte' %}#formats_quest">format de questionnement</a> et, dans un cas, au niveau de l’<a href="{% url 'epro-page' 'francais-8/eclairages_difficulte' %}#operations_cognitives">opération cognitive à mobiliser</a> (variantes 3a, 3b, 3c). L'enseignant.e est donc appelé.e à sélectionner la variante la plus adéquate pour sa classe.
    </p>
    {% else %}
    <p>Les <strong>questions associées au texte</strong> sont classées selon <strong>le type d’<a href="{% url 'epro-page' 'francais-8/eclairages_difficulte' %}#operations_cognitives">opération cognitive à mobiliser</a></strong> dont le niveau de difficulté va du plus simple (repérer) au plus difficile (interpréter).
    </p>
    {% endif %}
    <div class="text-right">&gt; Voir aussi <em><a href="{% url 'epro-page' 'francais-8/eclairages_choixquestions' %}">Évaluer la compréhension de l’écrit</a></em>
    </div>

    {% for oper in material.oper_cognitives %}
    <details>
        <summary {% if not oper.itemlist %}class="empty disabled"{% endif %}>{{ oper.title }}</summary>
        <ul class="no-bullets fra-items">
        {% for item in oper.itemlist %}
            <li class="item-li" {% if item.variante %}id="variante-{{ item.variante }}"{% endif %}>
                {% if item.variante %}
                <div class="variante">
                    <span class="variante-nom">Variante {{ item.variante }}</span>
                    (voir aussi variantes {% for it in item.autres_variantes %}{% if not forloop.first %}, {% endif %}<a class="variante-link" href="#variante-{{ it.variante }}">{{ it.variante }}</a>{% endfor %})
                </div>
                {% endif %}
                <div class="contenu">{{ item.contenu|safe }}</div>
                <div>
                    <details class="no-marker"><summary></summary>
                    {% include 'eprocom/francais-8/item-detail.html' %}
                    </details>
                </div>
            </li>
        {% endfor %}
        </ul>
    </details>
    {% endfor %}
</div>
{% endfor %}
