{% for item in itemlist %}
<div id="item-{{ item.id }}" class="item-container {{ domain }}">
    <h3 class="domain-{{ domain }} genre_textuel">{{ item.genre_textuel|capfirst }}</h3>

    <div class="material-title">
        {{ item.titre }}
        {% if item.is_new %}<div class="item-new">nouveau</div>{% endif %}
        {% if perms.eprocom.add_item %}
        <a class="permalink" href="{{ request.path }}#item-{{ item.id }}" title="Lien permanent vers cet élément">
            <img src="{% static 'img/link-ressource-icon.svg' %}">
        </a>
        {% endif %}
    </div>

    {% if item.lien_notice %}
    <div class="text-right">
        &gt; <a href="{{ item.lien_notice }}" target="_blank">Doc. à télécharger <span class="mmicon">=</span></a>
    </div>
    {% endif %}

    {{ item.descr_tache|safe }}

    <details class="first-level">
        <summary>Consignes d’écriture pour l’élève</summary>
        <div class="item-detail">
            {{ item.contenu|safe }}
        </div>
    </details>

    <details class="first-level">
        <summary>Guide d’écriture pour l’élève</summary>
        <div class="item-detail">
            {{ item.assoc_mat|safe }}
        </div>
    </details>

    <details class="first-level">
        <summary>Grille d’évaluation pour l’enseignant.e</summary>
        <div class="item-detail">
            {{ item.success_fact|safe }}
        </div>
    </details>
</div>
{% empty %}
    <p class="empty_message">{{ empty_message|default:'Aucune piste dans cette rubrique' }}</p>
{% endfor %}
