{% extends "eprocom/eprocom_base.html" %}
{% load eprocom %}

{% block eprotitle %}
    <h1 class="{{ domain }} smaller">
        Pistes pour l’évaluation - Français - 8<sup>e</sup> année<br>
    </h1>
    <h1 class="{{ domain }}">{{ chapter_title }}</h1>
{% endblock %}

{% block eprocontent %}
    <h2 class="{{ domain }}">{{ page_title }}</h2>

    {% if block_name %}
        {% editable_block block_name %}
    {% endif %}

    {% if materials and code == 'l121' %}
        {% include 'eprocom/francais-8/fra-materials.html' %}
    {% elif code == 'l122' %}
        {% include 'eprocom/francais-8/fra-l122-items.html' %}
    {% endif %}

{% endblock %}
