<div>{{ item.descr_tache|safe }}</div>

{% if item.format_question %}
    <div><strong>Format de questionnement :</strong> {{ item.format_question }}</div>
{% endif %}

<div>
    <strong>Difficulté de la question :</strong>
    {% if item.oper_diff %}opération {{ item.oper_diff_display }}; {% endif %}
    {% if item.get_format_question_diff_display %}format {{ item.get_format_question_diff_display|lower }}{% endif %}
</div>

<div>
    <strong>Corrigé :</strong>{% if item.corrige %}<br>{{ item.corrige|safe }}{% else %}<em>Aucun</em>{% endif %}
</div>
<div><strong>PER :</strong>
    {% for per_item in item.progressions %}
        {% if forloop.first %}
        <strong>Progression(s) des apprentissages touchée(s)</strong><br>
        {% endif %}
        <div class="progression">
            {{ per_item.progression|safe }} (<a href="{{ per_item.pper_url }}#{{ per_item.cellule_pk|default_if_none:'' }}" target="_blank">{{ per_item.obj_code }}</a>)
        </div>
    {% endfor %}
</div>
