<h2>Soumission de ressources numériques (RN) liées au Plan d’études romand (PER) à la Conférence intercantonale de l’instruction publique de la Suisse romande et du Tessin (CIIP)</h2>

<h3>Conditions et indications</h3>

<p>De nombreuses ressources pédagogiques sont régulièrement soumises à la CIIP en vue d’une validation romande et d’une mise à disposition pour les enseignants sur la <a href="https://www.plandetudes.ch">Plateforme PER-MER</a>.</p>

<p>La CIIP a mis en place une commission spécifiquement chargée d’évaluer les ressources numériques afin d’en mesurer l’intérêt pédagogique, la complémentarité aux moyens d’enseignement romands (MER) et aux autres ressources pédagogiques existantes ainsi que la compatibilité au PER.</p>

<p>Afin de faciliter la soumission de contenus pédagogiques par un tiers, la CIIP requiert l’usage d’un formulaire en ligne permettant de décrire la ressource numérique proposée.</p>

<h3>1. Formulaire de soumission et procédure d’évaluation des RN</h3>
<h4>À quoi sert le formulaire et comment fonctionne-t-il ?</h4>
<p>Le formulaire sert à soumettre une ressource numérique (RN) en vue de son évaluation, puis d’une éventuelle mise en ligne sur la Plateforme PER-MER de la CIIP pour une utilisation par l'enseignant et ses élèves dans le cadre de la classe.</p>

<p>Les descriptifs standardisés du formulaire fournissent des informations utiles pour l’évaluation de l’intérêt pédagogique, des qualités didactiques et techniques, de la complémentarité aux Moyens d’enseignement romands (MER) ainsi que de la compatibilité au Plan d’études romand (PER) et à son projet de formation global de l'élève. Les champs obligatoires sont indiqués par un astérisque.</p>

<p>La soumission ne permet pas de solliciter un financement de la CIIP et n’aboutit pas à une recommandation, ni à une labellisation.</p>

<h4>Qui peut remplir le formulaire ?</h4>
<p>Le formulaire peut être rempli par des détenteurs de ressources pédagogiques, ou toute personne habilitée à le faire en leur nom.</p>

<h4>Quelles RN peuvent être soumises par le formulaire ?</h4>

<p>Les RN soumises doivent être :</p>
<ul>
    <li>disponibles au format numérique ;</li>
    <li>mises gratuitement à disposition de l’ensemble des enseignants de l’Espace romand de la formation ;</li>
    <li>accessibles en principe sans authentification ou inscription supplémentaire que celle requise par la plateforme PER-MER ; ou, dans le cas contraire, moyennant la garantie qu’aucun prélèvement de données personnelles des utilisateurs finaux ne sera opéré dans le cadre du processus d’inscription/authentification ;</li>
    <li>respectueuses de la gestion des droits d’auteurs et de la législation en vigueur à ce sujet ;</li>
    <li>dénuées de toute intention ou manifestation de publicité, de prosélytisme, de discrimination ou de dogmatisme.</li>
</ul>

<h4>Que se passe-t-il une fois le formulaire rempli ?</h4>

<p>Une fois le formulaire en ligne complété, la demande est transmise à la CIIP avec copie au détenteur.<br>
Après une étude de recevabilité, la ressource numérique soumise est analysée, puis soumise à la Commission des ressources didactiques numériques (CORES) pour une évaluation finale, avec trois options possibles :</p>
<ul>
    <li>la RN est acceptée telle quelle et publiée en ligne ;</li>
    <li>la RN pourra être publiée moyennant une adaptation ;</li>
    <li>la RN ne répond pas aux exigences et ne sera pas publiée.</li>
</ul>
<p>Le détenteur de la ressource est informé de la décision par courriel.</p>


<h3>2. Droits et responsabilités du détenteur d’une RN</h3>
<p>En soumettant le formulaire, le détenteur s’engage à :</p>
<ul>
    <li>fournir des données conformes à la réalité et à ne pas induire en erreur ;</li>
    <li>signaler à la CIIP toute modification apportée par la suite à la ressource soumise ;</li>
    <li>accepter que les données fournies soient communiquées à différents acteurs dans le cadre du processus d’évaluation ;</li>
    <li>accepter que les informations (métadonnées descriptives) sur la ressource soient  publiées sur des portails partenaires (notamment cantonaux ou nationaux) ;</li>
    <li>prendre acte du libre usage de la ressource par l'enseignant et ses élèves dans le strict cadre de la classe, conformément aux articles 19 et 20 de la loi fédérale sur les droits d'auteurs (<a href="https://www.admin.ch/opc/fr/classified-compilation/19920251/">LDA)</a>.</li>
</ul>

<h3>3. Droits et responsabilités de la CIIP</h3>
<p>Après soumission du formulaire, la CIIP :</p>
<ul>
    <li>assure la coordination et la communication entre le détenteur de la ressource et les acteurs impliqués dans le processus d’évaluation des RN ;</li>
    <li>se réserve le droit de retirer en tout temps une ressource de la plateforme, même si celle-ci a été évaluée positivement ; dans ce cas, elle informe le détenteur de la ressource de cette décision et de ses motifs ;</li>
    <li>se réserve le droit de demander la réévaluation d’une ressource ayant fait l’objet de modifications importantes ;</li>
    <li>décline toute responsabilité en cas d’usage inapproprié de la RN.</li>
</ul>
