{% if need_auth or vdata.need_auth %}
    <div class="messages"><p class="need_auth">Il est nécessaire de <a href="{% url 'login' %}?next={{ request.path }}">s’authentifier sur ce site</a> pour visionner cette galerie.</p></div>
{% else %}

<div class="gallery" id="lightgallery">
    {% for img in images %}
    <a href="{{ img.rfile.url }}" data-sub-html="{{ img.title }}">
        <figure><img src="{{ img.thumbnail_url }}">
          <figcaption>{{ img.title }}</figcaption>
        </figure>
    </a>
    {% endfor %}
</div>

<div class="gallery-download">
    <a href="{% url 'resource_download' resource.pk %}" title="Télécharger toutes les images"><i class="fas fa-download fa-lg"></i></a>
</div>

<script src="{% static 'lightgallery/js/lightgallery.min.js' %}"></script>
<script src="{% static 'lightgallery/js/lg-thumbnail.min.js' %}"></script>
<script src="{% static 'lightgallery/js/lg-zoom.min.js' %}"></script>
<script>
    // appendSubHtmlTo -> empty to hide the image title part.
    $("#lightgallery").lightGallery({thumbnail: true, appendSubHtmlTo: ''});
</script>
{% endif %}
