{% extends "ressource/resource_base.html" %}
{% load pper_extras %}

{% block extra_head %}
{{ block.super }}
<script src="{% static 'js/resource_search.js' %}"></script>
<script>
    // Output links between domaines and disciplines
    var domains = Object();
    {% for dom in domains %}
    domains[{{ dom.pk }}] = Array({% for disc in dom.discipline_set.all %}{% if not forloop.first %}, {% endif %}'{{ disc.pk }}'{% endfor %});
    {% endfor %}
</script>
{% endblock %}

{% block content %}

<h1>{{ view.title }} <img style="vertical-align: middle;" src="{% static 'resources/public/images/logo_m.png' %}"></h1>

{% if view.can_search %}
<form method="GET" action=".">
  <div>
    {{ form.text }}
    <button class="btn"><i class="fas fa-search"></i> Rechercher</button>
    <button id="reinit" type="button" class="btn" style="margin-left:1em;" title="Réinitialiser le formulaire">
        <i class="fas fa-redo-alt fa-lg"></i>
    </button>
  </div>
  <div class="col">
    <div class="filter_div">
        <span class="filter_label">▶ Domaines :</span> <span class="filter_state" data-default="tous">tous</span>
        <div class="filter_choices">{{ form.domains }}</div>
    </div>
    <div class="filter_div">
        <span class="filter_label">▶ Disciplines :</span> <span class="filter_state" data-default="toutes">toutes</span>
        <div class="filter_choices">{{ form.disciplines }}</div>
    </div>
    <div class="filter_div">
        <span class="filter_label">▶ Cycles :</span> <span class="filter_state" data-default="tous">tous</span>
        <div class="filter_choices">{{ form.cycles }}</div>
    </div>
    <div class="filter_div">
        <span class="filter_label">▶ Type de document :</span> <span class="filter_state" data-default="tous">tous</span>
        <div class="filter_choices">{{ form.types_doc }}</div>
    </div>
    <div class="filter_div">
        <span class="filter_label">▶ Utilisateur final :</span> <span class="filter_state" data-default="tous">tous</span>
        <div class="filter_choices">
            {{ form.apprenant }} <label for="id_apprenant"><img src="{% static 'img/apprenant.svg' %}" title="Apprenant·es" width="20"></label>
        </div>
    </div>
  </div>

  {% if perms.ressource.change_resource %}
  <div class="col">
    <div class="filter_div auth_only">
        <span class="filter_label">▶ Statut :</span> <span class="filter_state active" data-default="tous">validee</span>
        <div class="filter_choices">{{ form.status }}</div>
    </div>
    <div class="filter_div auth_only">
        <span class="filter_label">▶ Granularité :</span> <span class="filter_state active" data-default="tous">tous</span>
        <div class="filter_choices">{{ form.granularity }}</div>
    </div>
    <div class="filter_div auth_only">
        <span class="filter_label">▶ Type de ressource :</span> <span class="filter_state active" data-default="tous">tous</span>
        <div class="filter_choices">{{ form.type_res }}</div>
    </div>
    <div class="filter_div auth_only">
        <span class="filter_label">▶ Type pédagogique :</span> <span class="filter_state active" data-default="tous">tous</span>
        <div class="filter_choices">{{ form.type_ped }}</div>
    </div>
    <div class="filter_div auth_only dates">
        <span class="filter_label">▶ Date de création :</span> <span class="filter_state active" data-default="tous">tous</span>
        <div class="filter_choices">
            Du {{ form.created_from }} au {{ form.created_to }}
        </div>
    </div>
    <div class="filter_div auth_only dates">
        <span class="filter_label">▶ Dernière modification :</span> <span class="filter_state active" data-default="tous">tous</span>
        <div class="filter_choices">
            Du {{ form.updated_from }} au {{ form.updated_to }}
        </div>
    </div>
    <div class="filter_div auth_only dates">
        <span class="filter_label">▶ Dernière validation :</span> <span class="filter_state active" data-default="tous">tous</span>
        <div class="filter_choices">
            Du {{ form.validated_from }} au {{ form.validated_to }}
        </div>
    </div>
    <div class="filter_div auth_only">
        <span class="filter_label">Visibilité dans la recherche :</span> {{ form.visible }}
    </div>
    <div class="filter_div auth_only">
        {{ form.broken_links }} <span class="filter_label">{{ form.broken_links.label_tag|strip_colon }}</span>
    </div>
  </div>
  {% endif %}
</form>
{% endif %}

{% block above_results %}
{% if resources and view.can_search %}
<div id="results-bar">
    <div id="num-results">{{ resources.paginator.count }} résultat(s) :</div>
</div>
{% endif %}
{% endblock %}

<div id="results">
{% for res in resources %}
    {# report any change in 'with' in results_only.html, too #}
    {% with resource=res show_refs=res.show_refs rn_tag=res.resourcegrouplink_set.first.number selectable=1 vdata=res.media_data %}
      {% include "ressource/resource_block.html" %}
    {% endwith %}
{% empty %}
    {% if view.empty_message %}
    <p class="noresults">{{ view.empty_message }}</p>
    {% endif %}
{% endfor %}
</div>

{% if perms.ressource.change_resource %}
  <div class="add-link">
      <a href="{% url 'resource_new' %}">Soumettre une ressource numérique…</a>
  </div>
{% endif %}
{% if resources %}
<div class="icons-right">
  <a href="?{{ qs }}&output=pdf" id="pdf-link" data-title="{{ view.pdf_title }}">
    <img src="{% static 'img/imprimante.png' %}" width="32" title="Version PDF imprimable"></a>
  {% if perms.ressource.change_resource %}
  <a href="?{{ qs }}&output=xlsx" id="xlsx-link">
    <img src="{% static 'img/xls.png' %}" width="32" title="Exportation MS-Excel"></a>
  {% endif %}
</div>

<div id="progress" style="text-align: center; display: none;">
    <img src="{% static 'img/loading_icon.gif' %}" alt="progress image">
</div>

{% if resources.has_next %}
<div id="more" data-nextpage="{{ resources.next_page_number }}" data-searchurl="{{ request.path }}?{{ qs }}">
    <a href="#" id="btn-more-search">Afficher plus</a>
    <a href="#" id="btn-all-search">Afficher tout (<span id="res-count">{{ resources.paginator.count }}</span>)</a>
</div>
{% endif %}

<div class="clear">&nbsp;</div>
{% endif %}
{% endblock %}

{% block footer %}
<div>© CIIP 2010-2022&nbsp;- La CIIP est la Conférence intercantonale de l'instruction publique de la Suisse romande et du Tessin</div>
<div>Adresse postale : CIIP | Plateforme du Plan d’études romand | Faubourg de l’Hôpital 68 | CP 556 | 2002 Neuchâtel</div>
<div>Contact :&nbsp;<a href="mailto:ciip.support-per@ne.ch">ciip.support-per@ne.ch</a>&nbsp;|&nbsp;<a href="https://www.ciip.ch">www.ciip.ch</a> | <a href="{% url 'confidentialite' %}">Politique de confidentialité</a>
</div>
{% endblock %}
