{% extends "public/base_pper_absolute.html" %}

{% block title %}Plan d’études romand - Ressources numériques - Qualité{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/quality.css' %}">
{% endblock %}

{% block content %}
<h1>Contrôle de la ressource n°{{ resource.pk }}</h1>

{% include "ressource/resource_block.html" %}

<div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Enregistrer</button>
    </form>
</div>

{% if historic %}
    <h2>Historique</h2>
    <ul>
    {% for hist in historic %}
        <li><span class="check-{{ hist.status }}">{{ hist.when|date:"d.m.Y" }}</span> - {{ hist.comment }} <em>({{ hist.user.get_full_name }})</em></li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}
