{% extends "public/base_pper_absolute.html" %}

{% block title %}Plan d’études romand - Ressources numériques - Qualité{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/quality.css' %}">
{% endblock %}

{% block content %}
<h1>Ressources numériques - Qualité</h1>

<div>
    <h2>À vérifier</h2>

    <ul>
    {% for line in res_to_check %}
        <li><a href="{% url 'resource_quality' line.pk %}">{{ line.title|default:line.get_url }}</a></li>
    {% endfor %}
    </ul>
    <p><em>{{ res_to_check|length}} ressources sur {{ res_to_check.paginator.count }}</em></p>
</div>

<div>
    <h2>À corriger</h2>
    <ul>
    {% for line in res_to_corr %}
        <li><a href="{% url 'resource_quality' line.pk %}"><span class="check-{{ line.lateststatus }}">{{ line.title|default:line.get_url }}</span></a></li>
    {% empty %}
        <li><em>Aucune ressource à corriger pour l'instant.</em></li>
    {% endfor %}
    </ul>
    {% if res_to_corr.has_other_pages %}
    <ul class="pagination">
        {% if res_to_corr.has_previous %}
          <li><a href="?page={{ res_to_corr.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in res_to_corr.paginator.page_range %}
          {% if res_to_corr.number == i %}
            <li class="active">{{ i }}</li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if res_to_corr.has_next %}
          <li><a href="?page={{ res_to_corr.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
</div>

{% endblock %}
