{% extends "public/base_pper_absolute.html" %}

{% block title %}Plan d’études romand - Ressources numériques{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'lightgallery/css/lightgallery.min.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}">
<script src="{% static 'js/resource_base.js' %}"></script>
{% endblock %}

{% block under-navigation %}
{{ block.super }}

<div class="dropdown">
  <div class="ddLabel">≡</div>
  <ul class="ddMenu">
    <li><a href="{% url 'resource_grp_home' %}">Catalogues de ressources</a></li>
    <li><a href="https://www.plandetudes.ch/ressources-multimedia">Mode d’emploi catalogue RN
          <img id="modeemploi" src="{% static 'img/modeemploi.png' %}"
               title="Mode d’emploi du catalogue de ressources numériques"></a>
    </li>
    <li><a href="{% url 'resource_new_public' %}">Soumission d’une ressource numérique</a></li>
    {% if perms.ressource.change_resource %}
    <li class="auth_only"><a href="https://bdper.plandetudes.ch/cgi-bin/awstats.pl?config=bdper-ressources">Statistiques des ressources</a></li>
    {% endif %}
  </ul>
</div>

<div id="select-right">
    <div id="select-label"><a href="{% url 'resource_selected' %}">Ma sélection</a> :</div>
    <div id="select-count" style="background-image: url('{% static 'img/basket.png' %}')"></div>
</div>
{% endblock %}
