{% extends "ressource/resource_base.html" %}

{% block title %}Plan d’études romand - Ressource{% endblock %}

{% block content %}
    {% with standalone=True %}
    {% include "ressource/resource_block.html" %}
    {% if vdata %}
        <div class="media-container {{ vdata.player }}">
        {% if vdata.player == 'galerie' %}
            {% include "ressource/gallery-block.html" %}
        {% else %}
            {% include "ressource/video-player-block.html" %}
        {% endif %}
        </div>
    {% endif %}
    {% endwith %}

    {% if perms.ressource.change_resource %}
        {% if short_url %}
        <div class="qr-under-resource text-center">
            <div>
                <a href="{% url 'resource_qr_download' resource.pk %}">{{ short_svg|safe }}</a>
                <div class="shortlink"><a href="https://{{ short_url }}">{{ short_url }}</a></div>
            </div>
        </div>
        {% else %}
        <div class="text-right">
            <form method="post" action="{% url 'resource_create_shortlink' resource.pk %}">{% csrf_token %}
                <button class="btn">Créer un lien court</button>
            </form>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}
