{% extends "public/base_pper_absolute.html" %}
{% load pper_extras %}

{% block title %}Plan d'études romand - Édition de ressource{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/regular.css" integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/Sortable.min.js' %}"></script>
<script src="{% static 'js/resource_search_box.js' %}"></script>
<script src="{% static 'js/edition.js' %}"></script>
<script src="{% static 'js/resource_base.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}">
{{ form.media }}
{% endblock %}

{% block content %}
<form id="resource_edit" class="dialog_edit" action="{{ request.path }}"
      method="POST" enctype="multipart/form-data" novalidate>
      {% csrf_token %}

<div style="text-align: right;">
    <a class="link-anchor" data-target="conditions" href="#conditions">Conditions et indications</a>
</div>

<div id="conditions" class="content-panel" {% if not show_intro %}style="display: none;"{% endif %}>
    {% include "ressource/conditions.html" %}
    <button type="button" class="continue">Continuer</button>
</div>

<div id="form-main" class="content-panel" {% if show_intro %}style="display: none;"{% endif %}>
  <input type="hidden" name="next" value="{{ next }}">
{% if form.non_field_errors %}
  <div class="messages">{{ form.non_field_errors }}</div>
{% endif %}
{% if form.has_errors %}
  <div class="messages">Le formulaire contient des erreurs de saisie. Veuillez les corriger avant d'enregistrer à nouveau.</div>
{% endif %}

{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

<div class="form-tabs">
    <ul class="ftabs">
    {% for group,_ in form.groups %}
    <li id="tab-{{ group|slugify }}" {% if forloop.first %} class="selected"{% endif %}
        data-target="{{ group|slugify }}">{{ group }}</li>
    {% endfor %}
    </ul>
</div>

{% for group, fields in form.grouped_fields %}
  <div id="{{ group|slugify }}" class="form-group{% if forloop.first %} selected{% endif %}">
  {% if group == "Gestion et suivi" and form.instance.pk %}
    <div style="margin-bottom: 1em;">
    {% if form.instance.uuid %}UUID : {{ form.instance.uuid }}<br>{% endif %}
    Date de création : {{ form.instance.created|date:"d.m.Y H:i" }}<br>
    Dernière modification : {{ form.instance.updated|date:"d.m.Y H:i" }}<br>
    Dernière validation : {{ form.instance.validated|default_if_none:"-"|date:"d.m.Y H:i" }}<br>
    {% if form.instance.resourcesubmitter %}
        <div style="display: inline-block; vertical-align: top;">Proposée par :</div>
        <div style="display: inline-block; vertical-align: top;">{{ form.instance.resourcesubmitter.name }}, {{ form.instance.resourcesubmitter.email }}, {{ form.instance.resourcesubmitter.tel }}<br>
        {{ form.instance.resourcesubmitter.institution }}, {{ form.instance.resourcesubmitter.function }}<br>
        {{ form.instance.resourcesubmitter.addr }}<br>
        {{ form.instance.resourcesubmitter.remarks }}</div>
    {% endif %}
    </div>
  {% endif %}
  {% if group == "Relations" %}
    {{ form.formsets.relations.management_form }}
      <ul class="sortable relation-formsets">
        {% for frm in form.formsets.relations %}
          <li>
          <fieldset>
            <img class="handler" src="{% static 'img/move.png' %}">
          {% for field in frm.hidden_fields %}{{ field }}{% endfor %}
          {% for field in frm.visible_fields %}
            {% if field.name == 'rel_file' %}<div class="or">ou</div>{% endif %}
            <div class="input-{{ field.name }}">
                <div class="form-label">{{ field.label_tag }}</div>
                <div class="form-input">{{ field.errors }}{{ field }}
                {% if field.name == 'rtype' %} <img class="help-icon" src="{% static 'img/help.png' %}" data-target="help-relations">{% endif %}
                </div>
            </div>
          {% endfor %}
          </fieldset>
          </li>
        {% endfor %}
      </ul>
  {% elif group == "Plan d'études" %}
    {{ form.formsets.per_link.management_form }}
    <script type="text/html" id="plan-detudes-template">
    <fieldset id="plan-detudes-__prefix__">
        <div>{{ form.formsets.per_link.empty_form.per_link }}</div>
    </fieldset>
    </script>
    <div id="plan-detudes-formset-container">
    {% for frm in form.formsets.per_link %}
      <fieldset class="{% if frm.instance.pk %}existing{% else %}new{% endif %}">
        <div>{{ frm.per_link.errors }}{{ frm.per_link }}</div>
        <div class="delete-widget">
            <span class="hidden">{{ frm.DELETE }}</span>
            <button class="per-link per-link-delete" data-target="{{ frm.DELETE.id_for_label }}">{{ frm.DELETE.label }}</button>
        </div>
        {{ frm.id }}
      </fieldset>
    {% endfor %}
    </div>
  {% else %}
    {% for bfield in fields %}
      {% if bfield.name == 'url' %}
        <select id="content-type-selector" name="content-type-selector">
            <option value="url"{% if form.instance.content_type == 'url' %} selected{% endif %}>URL&nbsp;:</option>
            <option value="files"{% if form.instance.content_type == 'files' %} selected{% endif %}>Fichier(s)&nbsp;:</option>
            <option value="gallery"{% if form.instance.content_type == 'gallery' %} selected{% endif %}>Galerie d’images&nbsp;:</option>
        </select>

        <div id="input-url" {% if form.instance.content_type == 'files' or form.instance.content_type == 'gallery' %}class="hidden"{% endif %}>
            <div class="form-input">{{ bfield.errors }}{{ bfield }}
            {% if video_path %}<br><span class="help">{{ video_path }}</span>{% endif %}
            </div>
        </div>

        <div id="input-gallery" {% if not form.instance.content_type == 'gallery' %}class="hidden"{% endif %}>
            {{ form.formsets.gallery.management_form }}
            <div id="gallery-resources">
                {% for frm in form.formsets.gallery %}
                  <fieldset>
                      <i class="far fa-file-image fa-2x"></i>
                      <a href="{{ frm.instance.other.get_absolute_url }}" target="_blank">{{ frm.instance.other.title }}</a>
                      {# hidden fields #}{{ frm.id }}{{ frm.resource }}{{ frm.other }}{{ frm.DELETE }}
                      <img class="form-delete" src="{% static 'img/delete.gif' %}" title="Supprimer ?"
                           data-confirm="Supprimer le lien vers cette image ? (la ressource image continuera d'exister)">
                  </fieldset>
                {% endfor %}
            </div>
            <div id="empty_form" class="hidden">
                <fieldset>
                    <i class="far fa-file-image fa-2x"></i>
                    <span class="image-title"></span>
                    {{ form.formsets.gallery.empty_form.as_div }}
                      <img class="parent-delete" src="{% static 'img/delete.gif' %}" title="Supprimer ?"
                           data-confirm="Supprimer le lien vers cette image ? (la ressource image continuera d'exister)">
                </fieldset>
            </div>
            <fieldset style="margin-bottom: 1em;">
                <input id="resource_search_box" class="search_box" type="text"
                       placeholder="Cherchez une ressource ici puis cliquez sur Ajouter"
                       data-autourl="{% url 'resource_search' 0 'json' %}?type_doc=image">
                <input type="hidden" id="resource_pk" class="resource_pk">
                <button id="add-image-to-gallery" class="btn">Ajouter</button>
            </fieldset>
        </div>

        <div id="input-files"
             {% if not form.instance.content_type == 'files' and not form.instance.content_type == 'gallery' %}class="hidden"{% endif %}>
        {{ form.formsets.files.management_form }}
        {% for frm in form.formsets.files %}
            <fieldset>
            {% if form.instance.content_type == 'gallery' %}
                <div>Ou ajoutez un fichier qui sera transformé en ressource image:</div>
            {% endif %}
            {% if frm.instance.pk %}
                  <a href="{{ frm.instance.rfile.url }}">{{ frm.instance.icon }}</a>
                  {{ frm.title }}
              {% if frm.DELETE %}<img class="form-delete" src="{% static 'img/delete.gif' %}" title="Supprimer ?">{% endif %}</p>
              {# hidden fields #}{{ frm.id }}{{ frm.resource }}{{ frm.DELETE }}
            {% else %}
              {{ frm.as_p }}
            {% endif %}
            </fieldset>
        {% endfor %}
        </div>

      {% else %}
          <div id="input-{{ bfield.name }}">
          {% if bfield|is_checkbox %}
            <div class="form-input">{{ bfield.errors }}{{ bfield }} <span class="form-label">{{ bfield|custom_label }}</span></div>
          {% else %}
            <div class="form-label">{{ bfield|custom_label }}</div>
            {% if bfield.help_text %}<div class="help">{{ bfield.help_text|linebreaksbr }}</div>{% endif %}
            <div class="form-input">{{ bfield.errors }}{{ bfield }}</div>
          {% endif %}
          </div>
      {% endif %}
    {% endfor %}
    {% if group == "Cycle de vie" %}
        <div class="form-label"><label>Auteur(s) :</label></div>
        <div class="form-input">
        {{ form.formsets.author.management_form }}
        {% for frm in form.formsets.author %}
            <fieldset>
              {{ frm.as_p }}
              {% if frm.DELETE %}<img class="form-delete" src="{% static 'img/delete.gif' %}" title="Supprimer ?">{% endif %}
            </fieldset>
        {% endfor %}
        </div>
        <div class="form-label"><label>Contributeur(s) :</label></div>
        <div class="form-input">
        {{ form.formsets.editor.management_form }}
        {% for frm in form.formsets.editor %}
            <fieldset>
                {{ frm.as_p }}
                {% if frm.DELETE %}<img class="form-delete" src="{% static 'img/delete.gif' %}" title="Supprimer ?">{% endif %}
            </fieldset>
        {% endfor %}
        </div>
        <div class="form-label"><label>Éditeur(s) :</label></div>
        <div class="form-input">
        {{ form.formsets.publisher.management_form }}
        {% for frm in form.formsets.publisher %}
            <fieldset>
                {{ frm.as_p }}
                {% if frm.DELETE %}<img class="form-delete" src="{% static 'img/delete.gif' %}" title="Supprimer ?">{% endif %}
            </fieldset>
        {% endfor %}
        </div>
    {% endif %}
  {% endif %}
    <div class="tab-navigation">{% tab_navigation form.groups group %}</div>
  </div>
{% endfor %}

<div style="margin-top: 1em;">
{% if form.instance.pk %}
  <div style="float:right;">
    <div style="margin-bottom: 0.4em;">
        <button class="delete" formaction="{% url 'resource_delete' form.instance.pk %}"
            onclick="return confirm('Voulez-vous vraiment supprimer cette ressource ?');">Supprimer la ressource</button>
    </div>
  </div>
{% endif %}
  <div>
    <button type="submit">{{ form.submit_label }}</button>
    <button class="cancel {{ view.op }}">Annuler</button>
  </div>
</div>

<div style="clear: both;">
    <span style="color:red;">*</span> Champs obligatoires pour la norme LOM-CH.
</div>
</div> <!-- form-main -->

{% if form.subm_name %}
<div id="confirmation" class="content-panel" style="display: none;">
    <p>Merci de bien vouloir remplir les informations ci-dessous afin que nous puissions prendre contact avec vous.</p>
    <div class="form-label">{{ form.subm_name|custom_label }}</div>{{ form.subm_name.errors }}{{ form.subm_name }}
    <div class="form-label">{{ form.subm_email|custom_label }}</div>{{ form.subm_email.errors }}{{ form.subm_email }}
    <div class="form-label">{{ form.subm_tel|custom_label }}</div>{{ form.subm_tel.errors }}{{ form.subm_tel }}
    <div class="form-label">{{ form.subm_institution|custom_label }}</div>{{ form.subm_institution.errors }}{{ form.subm_institution }}
    <div class="form-label">{{ form.subm_function|custom_label }}</div>{{ form.subm_function.errors }}{{ form.subm_function }}
    <div class="form-label">{{ form.subm_addr|custom_label }}</div>{{ form.subm_addr.errors }}{{ form.subm_addr }}
    <div class="form-label">{{ form.subm_remarks|custom_label }}</div>{{ form.subm_remarks.errors }}{{ form.subm_remarks }}
    <p>Attention, vous êtes sur le point de soumettre votre ressource. En cliquant sur « transmettre », vous ne pourrez plus revenir en arrière. Êtes-vous sûr de vouloir continuer ?</p>
    <button type="button" class="back">Revenir à l'édition</button>
    <input type="submit" value="Envoyer la ressource">
</div>
{% endif %}

</form>

<div id="help-relations" class="help-overlay">
<dl>
{% for code, label, help in relations_help %}
    <dt>{{ label }}</dt><dd>{{ help }}</dd>
{% endfor %}
</dl>
</div>
{% endblock %}
