{% extends "public/base_pper_absolute.html" %}
{% load pper_extras %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/resource_full.css' %}">
<script src="{% static 'js/resource_search.js' %}"></script>
{% endblock %}

{% block title %}Plan d'études romand - Ressource{% endblock %}

{% block content %}
{% with thumb_url=resource.get_thumb_url %}
    {% if thumb_url %}<img class="thumbnail" src="{{ thumb_url }}" alt="Aperçu image de la ressource">
    {% endif %}
{% endwith %}
<h1>{{ resource.title }}</h1>
<table id="res{{ resource.pk }}">
<tbody>
  {% for group_title, fields in resource|resource_data_groups:'title,thumb,thumb_url,show_refs' %}
    <tr class="head"><td colspan="2"><h2 class="group-head">{{ group_title }}</h2></td></tr>
    {% for field_name, field_verbose, field_value in fields %}
    {% if field_name == 'resourceperlink_set' %}
        {{ field_value|hierarch }}
    {% else %}
    <tr class="value">
        <th>{{ field_verbose }}</th>
        <td>{{ field_value }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  {% endfor %}
</tbody>
</table>
{% endblock %}
