<h2>Modifier l’URL de la ressource</h2>

<form action="{{ request.path }}" method="POST">{% csrf_token %}
    {% if form.errors %}
      <div class="messages">{{ form.errors }}</div>
    {% endif %}

    {{ form.url }}

    <div>
        <button type="submit">Modifier</button>
        <button type="button" class="modal-close">Annuler</button>
    </div>
</form>
