{% load pper_extras %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Ressource{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/resources-v2.css' %}">
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('#metadata-toggle').addEventListener('click', function(ev) {
            ev.preventDefault();
            this.parentNode.classList.toggle('minimized');
        });
    });
  </script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="https://portail.ciip.ch/">
            <picture>
                <source srcset="{% static 'img/pper_logo_small.svg' %}"
                        media="(max-width: 800px)" style="height: 91px; width:202px;">
                <img src="{% static 'img/pper_logo.svg' %}" alt="logo PER" />
            </picture>
            </a>
        </div>
        <div class="head-title"><a href="{% url 'resource_home' %}" role="button">Ressources numériques</a></div>
    </header>

    <div class="main-container">
        <h1>{{ resource.title }}</h1>

        {% with thumb_url=resource.get_thumb_url res_url=resource|get_url:request %}
        {% if vdata %}
        <div class="wrapper vdata">
            <div class="video-line">
                <div class="media-container {{ vdata.player }}">
                    {% if vdata.player == 'galerie' %}
                        {% include "ressource/gallery-block.html" %}
                    {% else %}
                        {% include "ressource/video-player-block.html" %}
                    {% endif %}
                </div>
            </div>
            <div class="main_descr">
                {% if resource.descr_eleve %}{{ resource.descr_eleve|safe }}
                {% else %}{{ resource.description|safe }}{% endif %}
            </div>
        </div>
        {% else %}
        <div class="wrapper">
            {% if thumb_url %}
            <div class="thumbnail">
                <a href="{{ res_url }}" target="_blank">
                    <img class="thumbnail" src="{{ thumb_url }}" alt="Aperçu image de la ressource">
                </a>
            </div>
            {% endif %}
            <div class="main_descr">
                {% if resource.descr_eleve %}{{ resource.descr_eleve|safe }}
                {% else %}{{ resource.description|safe }}{% endif %}
            </div>
        </div>

        <div class="aller">
            <a href="{{ res_url }}" target="_blank" role="button">Vers la ressource…</a>
        </div>
        {% endif %}
        {% endwith %}

        <section id="metadata" class="minimized">
            <img id="metadata-toggle" src="{% static 'img/info-icon.svg' %}" height="32" width="32"
                 alt="icône info pour afficher les métadonnées" title="Afficher ou masquer la notice">
            <div class="meta-container">
                {% if rn_tag %}
                    <div class="meta-block">
                        <div class="meta-label">Code RN</div>
                        <div class="meta-content">{{ rn_tag }}</div>
                    </div>
                {% endif %}
                {% for label, content in metadata %}
                <div class="meta-block">
                    <div class="meta-label">{{ label }}</div>
                    <div class="meta-content">
                        {% if label == "Type documentaire" %}{{ content|type_doc_icon }}
                        {% else %}{{ content }}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                {% for label, relation in resource.relations_data %}
                <div class="meta-block">
                    <div class="meta-label">{% if label %}{{ label }}{% endif %}</div>
                    <div class="meta-content">
                        <a href="{{ relation.get_url }}" target="_blank">{{ relation.description }}</a>
                    </div>
                </div>
                {% endfor %}

                {% if show_refs %}
                    {% with links=resource.resourcegrouplink_set.all %}
                    {% if links|length > 0 %}
                    <div class="meta-block">
                        <div class="meta-label">{% if links|length > 1 %}Catalogues{% else %}Catalogue{% endif %}</div>
                        <div class="meta-content">
                        {% for link in links %}
                            <div>
                                {% if link.number and links|length > 1 %}<div class="number number-small">{{ link.number }}</div>{% endif %}
                                <a href="{{ link.group.get_absolute_url }}">{{ link.group.title_with_oa }}</a>
                            </div>
                        {% empty %}-
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                {% endif %}
            </div>
        </section>
    </div>

</body>
</html>
