{% extends "ressource/resource_base.html" %}
{% load pper_extras %}

{% block title %}Plan d'études romand - {{ objectif.code }} - Ressources{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <script src="{% static 'js/resource_grp.js' %}"></script>
{% endblock %}

{% block content %}
{% if domain %}
<div id="breadcrumb"><a href="https://portail.ciip.ch/per/">PER</a> &gt;
  {{ domain.name }} &gt;
  {% for disc in disciplines %}{% if not forloop.first %}/{% endif %}<a href="https://www.plandetudes.ch/web/guest/{{ disc.slug }}">{{ disc.name }}</a>{% endfor %}
  {% if objectif %} &gt; {{ objectif.get_thematique_name }} &gt;{% endif %}
  {% if object.levels %}{{ object.get_levels_display }}{% elif objectif %}Cycle {{ objectif.cycle }}{% endif %}
</div>
{% endif %}

{% if objectif %}
<div id="main_title">
  <h2 class="{{ domain_style }}">
    <a class="link{{ domain_style }}" href="https://www.plandetudes.ch/web/guest/{{ objectif.code_slug }}/">{{ objectif.code }} — {{ objectif.title }}…</a>
  </h2>
</div>
{% endif %}

<h2 class="titre titre2{{ domain_style }}" style="padding:0.8em; font-size: 1.3em;">
    <div style="float:right;">
        {% if object.mer_url %}<a href="{{ object.mer_url }}">
        <img src="{% static 'resources/public/images/t-mer2.png' %}" width="60" title="Ressources des moyens d'enseignement"></a>
        {% endif %}
        {% if 'COVID' in tags %}
        <img src="{% static 'img/covid.png' %}" width="26" title="Ressources en lien avec le COVID-19">
        {% endif %}
        {% if perms.ressource.change_resourcegroup %}<a href="{% url 'resource_grp_edit' object.pk %}"><img src="{% static 'img/edit.gif' %}"></a>
        {% endif %}
    </div>
    {{ object.title }}
    {% if object.subtitle %}<br><small><i>{{ object.subtitle }}</i></small>{% endif %}
</h2>

<div style="float:right; text-align: right;">
  <a href="{% url 'resourcegroup_pdf' object.pk %}" id="pdf-link">
    <img src="{% static 'img/imprimante.png' %}" width="32" title="Version PDF imprimable"></a>
  &nbsp;&nbsp;&nbsp;
  <a href="https://www.plandetudes.ch/ressources-multimedia">
    <img src="{% static 'img/modeemploi.png' %}" width="32"
         title="Mode d'emploi du catalogue de ressources numériques"></a>
</div>
{% if object.subtitle2 %}<h3 class="{{ domain_style }}">{{ object.subtitle2 }}</h3>{% endif %}

{% if object.description or object.subthemes.count %}
<div class="lightbg-{{ domain_style }}" style="padding:0.8em;">
  {% if object.description %}
    <div>{{ object.description|safe }}</div>
  {% endif %}
</div>
<div>
  <div class="themes_container">
  {% for theme in subthemes_grouped %}
    {% if forloop.first %}
      <div class="themes_header">Filtres:</div>
      <div class="themes">
    {% endif %}
    {% if theme == 'BREAK' %}</div><div class="themes">
    {% else %}
    <div class="filter_top cls_{{ theme.num }}" data-filter="cls_{{ theme.num }}">
      <div class="filter_wrapper">
        <span class="num">{{ theme.num }}.</span> <span class="filter"><span>{{ theme.name }}</span></span>
      </div>
    </div>
    {% endif %}
    {% if forloop.last %}</div>{% endif %}
  {% endfor %}
  </div>
</div>
{% endif %}

<div id="results">
{% for resdata in resource_data %}
  {% with resource=resdata.resource reslink=resdata.rlink classes=resdata.rlink.classes selectable=1 vdata=resdata.vdata rn_tag=resdata.rlink.number %}
    {% include "ressource/resource_block.html" %}
  {% endwith %}
{% endfor %}
</div>
<div id="empty">
    <p><em>Aucune ressource ne correspond à votre filtre.</em></p>
</div>
<div id="more"><a href="#" id="btn-more">Afficher plus</a>
               <a href="#" id="btn-all">Afficher tout (<span id="res-count"></span>)</a></div>
{% endblock %}
