{% load pper_extras %}
<h2>Recherche de « {{ term }} » dans : {% if source == 'bsn' %}BSN (Educa){% else %}BD-PER{% endif %}</h2>
<form method="post" action="{% url 'resource_link' grp %}">{% csrf_token %}
<ul>
{% for res in results %}
  <li id="{{ res.pk }}" class="{% cycle 'even' 'odd' %}" style="margin-bottom: 5px;">
    <div style="float:right; clear: right;"><input type="button" class="{{ submit_class }} from_details" value="Ajouter">
                             <input type="hidden" class="resource_pk" value="{{ res.pk }}"></div>
    <b>{{ res.label }}</b><br>
    {{ res.description }}
    {% if source == 'bsn' %}<br><a href="https://biblio.educa.ch/fr/dsb/{{ res.pk|lom_urlencode }}" target="_blank">Notice sur biblio.educa.ch</a>{% endif %}
    <br clear="all">
  </li>
{% endfor %}
</ul>
<button class="cancel">Annuler</button>
</form>
