{% extends "ressource/home.html" %}

{% block extra_head %}
{{ block.super }}
<style type="text/css">
div#empty_button { float: right; margin-bottom: 0.5em; }
</style>
<script>
$(document).ready(function() {
    $("button#empty").click(function(ev) {
        ev.preventDefault();
        if (!confirm($(this).data('confirm'))) return;
        selection.clear();
        $('div#results').html('');
        $('div.icons-right').html('');
    });
});
</script>
{% endblock %}

{% block above_results %}
<div id="empty_button">
    <form><button id="empty" data-confirm="Voulez-vous vraiment vider votre sélection de ressources ?">Vider la sélection</button>
    </form>
</div>
{% endblock %}
