{% extends "ressource/resource_base.html" %}
{% load pper_extras %}

{% block extra_head %}
{{ block.super }}
<style type="text/css">
h3 { margin-left: 1em; }
h4 { margin-left: 1.3em; margin-bottom: 0.5em; font-size: 110%; }
div.new-cat { float: right; font-size: small; padding: 1em; background-color: #ddd; }
</style>
{% endblock %}

{% block content %}
<h1>Catalogues de ressources numériques</h1>

{% if editor %}<div class="new-cat">
    <a href="{% url 'resource_grp_new' %}">Nouveau catalogue…</a>
</div>{% endif %}

<ul>
{% for catalog in catalogs %}
    {% ifchanged catalog.domaine %}
    </ul><h2 class="{{ catalog.domaine.abrev }}">{{ catalog.domaine }}</h2><ul>
    {% endifchanged %}

    {% ifchanged catalog|objectif_or_groupment %}
    </ul><h3 class="{{ catalog.domaine.abrev }}">{% if catalog.objectif_link %}<a class="link{{ catalog.domaine.abrev }}" href="{{ catalog.objectif_link }}">{% endif %}{{ catalog|objectif_or_groupment }}{% if catalog.objectif_link %}</a>{% endif %}</h3><ul>
    {% endifchanged %}

    {% ifchanged catalog.groupment %}
    </ul>{% if catalog.groupment and catalog.groupment != catalog|objectif_or_groupment %}<h4 class="color{{ catalog.domaine.abrev }}">{{ catalog.groupment }}</h4>{% endif %}<ul>
    {% endifchanged %}

    <li><a href="{{ catalog.get_absolute_url }}">{{ catalog }}</a>,
        {{ catalog.num_resources }} ressources
        {% if catalog.grp_status != 'valide' %}<span class="auth_only">({{ catalog.get_grp_status_display }})</span>{% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}
