{% extends "public/base_pper_absolute.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}">
<script src="{% static 'js/resource_grp.js' %}"></script>
<script src="{% static 'js/resource_search_box.js' %}"></script>
<script src="{% static 'js/edition.js' %}"></script>
{{ form.media }}
{% endblock %}

{% block content %}
<form id="resource_edit" class="dialog_edit" action="{{ request.path }}" method="POST" style="margin-bottom: 1em;">{% csrf_token %}
{% if form.errors %}
  <div class="messages">{{ form.errors }}</div>
{% endif %}
<div>
  <div class="form-label">{{ form.title.label_tag }}</div>
  <div class="form-input">{{ form.title }}</div>
  <div class="form-label">{{ form.subtitle.label_tag }}</div>
  <div class="form-input">{{ form.subtitle }}</div>
  <div class="form-label">{{ form.subtitle2.label_tag }}</div>
  <div class="form-input">{{ form.subtitle2 }}</div>
  <div class="form-label">{{ form.groupment.label_tag }}</div>
  <div class="form-input">{{ form.groupment }}<br>
     <span class="help">{{ form.groupment.help_text }}</span></div>
  <div class="form-label">{{ form.description.label_tag }}</div>
  <div class="form-input">{{ form.description }}</div>
  {% if form.domain %}
  <div class="form-label">{{ form.domain.label_tag }}</div>
  <div class="form-input">{{ form.domain }}<br>
    <span class="help">{{ form.domain.help_text }}</span></div>
  {% endif %}
  <div class="form-label">{{ form.objectif.label_tag }}</div>
  <div class="form-input">{{ form.objectif }}</div>
  <div style="display: flex">
      <div class="form-input" style="flex: 50%;">
        <span class="form-label">{{ form.levels.label_tag }}</span> {{ form.levels }}
      </div>
      <div class="form-input" style="flex: 50%; display: flex;">
        <div><span class="form-label">{{ form.tags.label_tag }}{{ form.tags.errors }}</span></div>
        <div>{{ form.tags }}</div>
      </div>
  </div>
  <div class="form-label">{{ form.mer_url.label_tag }}</div>
  <div class="form-input">{{ form.mer_url }}</div>
  <div class="form-input"><span class="form-label">{{ form.grp_status.label_tag }}</span> {{ form.grp_status }}</div>
  {{ form.cell }}
  {% if form.instance.pk %}
    <p><a id="edit_sub_themes" href="{% url 'subthemes_edit' form.instance.pk %}">Éditer les sous-thèmes</a> <br>
       (<i>attention: enregistrer préalablement d'éventuelles modifications</i>)</p>
  {% endif %}
</div>
<div style="float:right;">
    {% if form.instance.pk == None %}
    <button type="submit" class="btn">Ajouter {{ verbose }}</button>
    {% else %}
    <button type="submit" class="btn">Modifier</button>
    {% endif %}
</div>

<br clear="all">

{% if form.instance.pk != None %}
  {{ subforms.management_form }}
  <div id="resource_list">
    {% for sform in subforms %}
      {% with sform.instance.resource as res %}
    {% if res.pk %}
    <fieldset id="{{ res.pk }}" class="resource">
        <div><b><a class="display_resource" href="{% url 'resource_edit_full' res.pk %}" target="_blank">{{ res.title }}</a></b>,<br>{{ res.get_url }}
        <a class="unlink_resource" href="{% url 'resource_unlink' form.instance.pk res.pk %}">
          <img src="{% static 'img/delete.gif' %}" alt="Supprimer"></a></div>
        <div>{{ res.description|safe }}</div>
        <div class="subform">
            {% for subf in sform.hidden_fields %}{{ subf }}{% endfor %}
            {% for subf in sform.visible_fields %}
              <div style="float:left; margin-right: 1.5em;">{{ subf.errors }}{{ subf.label_tag }}{{ subf }}</div>
            {% endfor %}
            <div class="clear"></div>
        </div>
    </fieldset>
    {% endif %}
      {% endwith %}
    {% empty %}
      <div><i>Pas encore de ressources dans ce groupe.</i></div>
    {% endfor %}
  </div>
  {% if form.instance.pk %}
    <div>
        <div style="float: right;">
            <button id="delete-cat" class="btn btn-danger"
                    data-confirm="Voulez-vous vraiment supprimer ce catalogue ? (cela ne supprimera pas les ressources de ce catalogue)"
                    formaction="{% url 'resource_grp_delete' form.instance.pk %}">Supprimer le catalogue</button>
            <button id="delete-all" class="btn btn-danger"
                    data-confirm="Voulez-vous vraiment enlever toutes les ressources ?"
                    data-url="{% url 'resource_unlinkall' form.instance.pk %}">Enlever toutes les ressources</button>
        </div>
        <button type="submit" class="btn">Modifier</button>
    </div>
  {% endif %}
</form>

<hr>
  <div><a id="create_resource_in_group" href="{% url 'resource_new' %}?add_in_group={{ form.instance.pk }}">
       <img src="{% static 'img/list-add.png' %}" width="12"> Créer une nouvelle ressource dans ce groupe</a></div>
  <div style="padding-bottom:10em;">
    <form id="link_resource" action="{% url 'resource_link' form.instance.pk %}">{% csrf_token %}
      <img src="{% static 'img/list-add.png' %}" width="12"> Ajouter une ressource existante dans ce groupe<br>
      <div class="ajax_search_section" style="margin-left: 1.5em;">
        Recherche BD-PER: <input id="resource_search_box" class="search_box" type="text"
                            data-autourl="{% url 'resource_search' form.instance.pk 'json' %}">
                          <button class="btn submit_local">Ajouter</button>
                          <!--a class="search_details" href="{% url 'resource_search' form.instance.pk 'html' %}">Détails...</a-->
        <div class="result_length" style="color: red;"></div>
        <input type="hidden" id="resource_pk" class="chosen_result_pk">
      </div>
    </form>
  </div>
  <script type="text/javascript">
  $("#resource_list").sortable({
    update:function(event, ui) {
        var order = $("#resource_list").sortable("toArray");
        for (var i=0; i< order.length; i++) {
            $('fieldset#' + order[i]).find(".position").val(i+1);
        }
    }
  });
  $("a.search_details").on('click', function(ev) {
    this.href = this.href + '&' + $.param({'term': $(this).parent().find('.search_box').val()});
  });
  </script>
{% endif %}
{% endblock %}
