{% load pper_extras %}

<div id="res{{ resource.pk }}" class="resource-wrapper {{ classes }}">
<table class="resource_block"><tbody>
{% with thumb_url=resource.get_thumb_url res_url=resource|get_url:request %}

{% if resource.status != 'validee' %}
<tr><td colspan="3" class="unvalidated">
    {{ resource.get_status_display }}
    {% if resource.granularity %} — {{ resource.get_granularity_display }}{% endif %}
</td></tr>
{% endif %}

{% if resource.broken %}
<tr><td colspan="3" class="unvalidated">
    <p>Cette ressource est actuellement marquée comme cassée et non disponible dans la recherche</p>
</td></tr>
{% endif %}

<tr><td align="right">
      {% if rn_tag %}<div class="number">{{ rn_tag }}</div>{% endif %}
    </td>
    <td colspan="2">
    <h2>{% if resource.need_auth %}<span class="mmicon noweight" title="accès protégé par une authentification">o</span>{% endif %}
        {% if not vdata %}<a class="resource-link discrete" href="{{ res_url }}" data-pk="{{ resource.pk }}" {% if not resource.need_auth or request.user.is_authenticated %} target="_blank"{% endif %}>{% endif %}
        {{ resource.format_title }}{% if not vdata %}</a>{% endif %}
        {% for th in reslink.subthemes.all %}{% if forloop.first %}({% else %}, {% endif %}<span title="{{ th.name }}">{{ th.num }}</span>{% if forloop.last %}){% endif %}{% endfor %}
        {% if not vdata %}<a href="{{ res_url }}" class="resource-link" data-pk="{{ resource.pk }}" target="_blank"><img src="{% static 'img/open_window.png' %}" title="Aller à l'URL de la ressource"></a>{% endif %}
    </h2>
    </td>
</tr>
<tr>
<td class="thumbnail">
    <div class="thumbnail-container">
    {% if thumb_url %}
        {% if vdata and not standalone %}<img class="video-start resource-link" data-pk="{{ resource.pk }}" src="{% static 'img/video-start.svg' %}" title="Lancer la visionneuse {{ vdata.player }}">
        {% else %}<a href="{{ res_url }}" class="resource-link" data-pk="{{ resource.pk }}" target="_blank">{% endif %}
        <img class="thumbnail" src="{{ thumb_url }}" alt="Aperçu image de la ressource" loading="lazy">
        {% if not vdata %}</a>{% endif %}
    {% endif %}
    </div>
</td>
<td class="subblock1">
    {% for label, content in resource.metadata %}
    <div>
        <b>{{ label }} :</b>
        {% if label == "Type documentaire"%}{{ content|type_doc_icon }}
        {% elif label == "Mots clé"%}{{ content|auto_exposant }}
        {% else %}{{ content }}{% endif %}
    </div>
    {% endfor %}

    <div class="relations">
    {% for label, relation in resource.relations_data %}
      <div class="relation-line">
        <div class="relation-label">{% if label %}{{ label }} :{% endif %}</div>
        <div class="relation-content"><a href="{{ relation.get_url }}" target="_blank">{{ relation.description }}</a></div>
      </div>
    {% endfor %}
    </div>
</td>
<td class="subblock2">
    {% if resource.description %}{{ resource.description|safe }}
    {% else %}{{ resource.descr_eleve|safe }}{% endif %}
    {% if resource.is_apprenant %}
        <a href="{% url 'resource-display-appr' resource.pk %}"
           title="Notice adéquate pour les élèves"><img src="{% static 'img/apprenant.svg' %}" width="32"></a>
    {% endif %}

</td>
<td class="qrcode">{{ resource|qrcode }}</td>
</tr>
{% endwith %}

{% if show_refs %}
    {% with links=resource.resourcegrouplink_set.all %}
    {% if links|length > 0 %}
    <tr class="referenced"><td></td>
        <td colspan="2">
              <div>
                  <i><b>{% if links|length > 1 %}Catalogues :{% else %}Catalogue :{% endif %}</b>
                  {% for link in links %}
                    <div>{% if link.number and links|length > 1 %}<div class="number number-small">{{ link.number }}</div>{% endif %}
                    <a href="{{ link.group.get_absolute_url }}">{{ link.group.title_with_oa }}</a></div>
                  {% empty %}-
                  {% endfor %}</i>
              </div>
        </td>
    </tr>
    {% endif %}
    {% endwith %}
    {% with galleries=resource.get_galleries %}
    {% if galleries|length > 0 %}
    <tr class="referenced"><td></td>
        <td colspan="2">
              <div>
                  <i><b>{% if galleries|length > 1 %}Galeries :{% else %}Galerie :{% endif %}</b>
                  {% for gal in galleries %}
                    <div><a href="{{ gal.get_absolute_url }}">{{ gal.title }}</a></div>
                  {% endfor %}
                  </i>
              </div>
        </td>
    </tr>
    {% endif %}
    {% endwith %}
{% endif %}

{% if vdata %}
<tr class="video-line">
    <td class="video-cell" colspan="3">
        <div class="video-closer">
            <span>×</span>
        </div>
        <div class="media-container {{ vdata.player }}" data-url="{{ vdata.path }}"></div>
    </td>
</tr>
{% endif %}
</tbody>
</table>

    <div class="ressource-toolbar">
        {% if selectable %}
        <div class="select-btns">
            <img class="add-to-select" title="Ajouter à ma sélection"
                 src="{% static 'img/add_to_select.svg' %}" data-resid="{{ resource.pk }}"
                 data-altsrc="{% static 'img/del_from_select.svg' %}"
                 data-alttitle="Enlever de ma sélection">
        </div>
        {% endif %}
        <div>
            <a title="Lien permanent vers cette ressource" href="{{ resource.get_absolute_url }}">
                <img src="{% static 'img/link-ressource-icon.svg' %}">
            </a>
        </div>
        {% if perms.ressource.change_resource %}
        <div>
            <a href="{% url 'resource_edit_full' resource.pk %}" title="Modifier cette ressource">
                <img src="{% static 'img/edit-ressource-icon.svg' %}">
            </a>
        </div>
        {% endif %}
    </div>
</div>
