{% extends "public/base_pper_absolute.html" %}

{% block title %}Accès à Silence on tourne{% endblock %}

{% block content %}

<h1>Accès à Silence! On tourne</h1>

<p>&nbsp;</p>
<p><big>Pour accéder à la plateforme, cliquez sur <a href="https://ontourne.eduge.ch/token/login/{{ token }}"><b>ce lien</b></a>.</big></p>

<p>Remarque : ce lien ne doit <b>pas</b> être communiqué à des tiers !</p>
{% endblock %}
