{% extends "public/base_pper_absolute.html" %}

{% block title %}Plan d’études romand - Ressources numériques - Stats{% endblock %}

{% block extra_head %}
<style>
table { border-collapse: collapse; }
table td { border: 1px solid gray; padding: 5px; }
</style>
{% endblock %}

{% block content %}
<h1>Ressources numériques - Statistiques d’accès</h1>

<p>
    <a href="https://bdper.plandetudes.ch/cgi-bin/awstats.pl?config=bdper-ressources">Statistiques du serveur (awstats)</a>
</p>

<h2>Exportation des accès par année</h2>

<table>
{% for annee in annees %}
    <tr><td>{{ annee }}</td>
        <td><a href="{% url 'stats-year' 'all' annee %}">Catalogues</a></td>
        <td><a href="{% url 'stats-year' 'emedia' annee %}">Fiches PDF e-media</a></td>
        <td>{% if annee >= 2022 %}<a href="{% url 'stats-year' 'clicks' annee %}">Clics ressources</a>{% endif %}</td>
    </tr>  
{% endfor %}
</table>
{% endblock %}
