{% extends "public/base_pper_absolute.html" %}

{% block content %}
<h2>Édition des sous-thèmes pour le catalogue de ressources «{{ group.title }}»</h2>

<form id="subtheme_edit" class="dialog_edit" action="{{ request.path }}" method="POST" style="margin-bottom: 1em;">{% csrf_token %}
  {{ form.management_form }}
  {% for frm in form %}
    <div>{{ frm }}</div>
  {% endfor %}
  <input type="submit" value="Enregistrer" style="margin-top: 1em;">
  <button class="cancel">Annuler</button>
</form>
{% endblock %}
