{% if prev %}<a href="#" data-target="{{ prev|slugify }}">‹ {{ prev }}</a>{% endif %}
{% if prev and next %} | {% endif %}
{% if next %}<a href="#" data-target="{{ next|slugify }}">{{ next }} ›</a>{% endif %}
