{% extends "ressource/resource_base.html" %}

{% block title %}Plan d’études romand - Vidéo{% endblock %}

{% block authentication %}{% endblock %}

{% block content %}
<div style="text-align:center;">
<h2>{{ resource.title }}</h2>

{% include 'ressource/video-player-block.html' %}

</div>

{% endblock %}
