{% if vdata.need_auth %}
    <div class="messages"><p class="need_auth">Il est nécessaire de <a href="{% url 'login' %}?next={{ request.path }}">s’authentifier sur ce site</a> pour accéder à cette ressource.</p></div>
{% elif vdata.player == 'rts' %}
    <iframe class="video"
            src="{{ vdata.base }}/embed?urn=urn:rts:video:{{ vdata.vkey }}{% if subdivisions %}&subdivisions=true{% endif %}"
            allowfullscreen width="624" height="351" frameborder="0" name="{{ resource.title }}"
            allow="geolocation *; autoplay; encrypted-media">
    </iframe>
{% elif vdata.player == 'rts-audio' %}
    <iframe class="video" src="{{ vdata.base }}/embed?urn=urn:rts:audio:{{ vdata.vkey }}&start="
            allowfullscreen width="392" height="58" frameborder="0" name="{{ resource.title }}"
            allow="geolocation *; autoplay; encrypted-media">
    </iframe>
{% elif vdata.player == 'infomaniak' %}
    <iframe class="video" frameborder="0" width="640" height="360" src="{{ vdata.base }}/iframe.php?url={{ vdata.vkey }}&player=3831&vod=2124{% if vdata.skey %}&sKey={{ vdata.skey }}{% endif %}" allowfullscreen></iframe>
{% elif vdata.player == 'infomaniak2' %}
    <iframe class="video" frameborder="0" width="720" height="360"
     src="{{ vdata.base }}/embed/{{ vdata.vkey }}{% if vdata.skey %}?{{ vdata.skey }}{% endif %}" allowfullscreen></iframe>
{% elif vdata.player == 'youtube' %}
    <iframe class="video" width="640" height="360" src="{{ vdata.base }}/embed/{{ vdata.vkey }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% elif vdata.player == 'dailymotion' %}
    <iframe class="video" frameborder="0" width="640" height="360" src="{{ vdata.base }}/embed/video/{{ vdata.vkey }}?queue-enable=false" allowfullscreen allow="autoplay"></iframe>
{% elif vdata.player == 'vimeo' %}
    <iframe class="video" src="{{ vdata.base }}/video/{{ vdata.vkey }}" width="640" height="360" frameborder="0" allowfullscreen></iframe>
{% elif vdata.player == 'local-audio' %}
    <audio id="audioPlayer" class="video-js vjs-default-skin" controls>
        <source src="{{ vdata.base }}" type="audio/mp3" />
    </audio>
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <script src="https://vjs.zencdn.net/7.6.0/video.min.js"></script>
{% else %}
    <p>Désolé, aucun lecteur disponible.</p>
{% endif %}

{% if vdata.player != 'local-audio' %}
<div class="view-on-site"><a href="{{ resource.url }}">Voir sur le site d’origine</a></div>
{% endif %}
