{% extends "base.html" %}
{% block title %}PPER: Listes d'attentes{% endblock %}
{% block content %}
<h1>Listes des attentes fondamentales du Plan d'études romand</h1>

<table>
<thead>
<tr bgcolor="#CCCCCC"><th width="50%">Par discipline</th><th>Par cycle</th></tr>
</thead>
<tbody>
<tr>
  <td valign="top">
    <ul>{% for domain in domains %}
        <li>{{ domain }}<ul>
            {% for disc in domain.discipline_set.all %}
              <li><a href="{% url 'attentes_discipline' disc.uid %}">{{ disc }}</a></li>
            {% endfor %}</ul>
        </li>
        {% endfor %}
    </ul>
  </td>
  <td valign="top"><a href="{% url 'attentes_cycle' 1 %}">Cycle 1</a><br/>
                   <a href="{% url 'attentes_cycle' 2 %}">Cycle 2</a><br/>
                   <a href="{% url 'attentes_cycle' 3 %}">Cycle 3</a>
  </td>
</tr>
</tbody>
</table>
{% endblock %}
