{% extends "base.html" %}
{% block title %}PPER: Listes d'attentes par discipline{% endblock %}
{% block content %}
<h1>Listes des attentes du Plan d'études romand</h1>

<p>Domaine: {{ domain }}<br/>
Discipline: <b>{{ disc }}</b></p>

<table border="1" style="border-collapse:collapse;">
{% for attente in attentes %}
<tr><td>{{ attente|safe }}</td>
<td></td>
</tr>
{% endfor %}
</table> 

{% endblock %}
