{% extends "base.html" %}
{% block title %}PPER: Listes d'attentes par cycle{% endblock %}
{% block content %}
<h1>Listes des attentes du Plan d'études romand</h1>

<p>Cycle: {{ cycle }}</p>

<table border="1">
{% for attente in attentes %}
<tr><td>{{ attente|safe }}</td>
<td></td>
</tr>
{% endfor %}
</table> 

{% endblock %}
