{% extends "public/base_pper_absolute.html" %}

{% block title %}Erreur : accès refusé{% endblock %}

{% block content %}
<div class="mainpage">

<h1>Erreur : accès refusé</h1>

<p>{{ exception }}</p>

</div>
{% endblock %}
