{% extends "public/base_pper_absolute.html" %}

{% block title %}Erreur: page introuvable{% endblock %}

{% block content %}
<div class="mainpage">

<h1>Erreur: page introuvable</h1>

<p>La page demandée ne se trouve pas sur ce serveur.</p>

</div>
{% endblock %}
