{% extends "public/base_pper_absolute.html" %}

{% block title %}Erreur de serveur (500){% endblock %}

{% block content %}
<div class="mainpage">

<h1>Erreur de serveur</h1>

<p>Désolé, une erreur est survenue.</p>

</div>
{% endblock %}
