<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>{% block title %}BD-PER{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% url 'domain_colors' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/per.css' %}" />
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/jquery.color.js' %}"></script>
  <script src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
  {% if is_test %}
  <style> 
    body { background-image: url({% static 'img/test_background.png' %}); }
   </style>
  {% endif %}
  {% block extra_head %}{% endblock %}
</head>
<body>

{% block header %}
    <table width="100%"><tr>
    <td><a href="{% url 'home' %}" title="Page d'accueil"><img src="{% static 'img/pper_logo_mini.gif' %}"></a></td>
    {% for d in domains %}
      <td class="domain {{ d.abrev }}" width="14%"><a href="{% url 'domain' d.id %}">{{ d.name }}</a></td>
    {% endfor %}
    {% if domains %}<td class="domain" width="14%"><a href="{% url 'spec_cantonales' %}">Spécificités cantonales</a></td>{% endif %}
    </tr></table>
    <hr />
{% endblock %}

<div class="content">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="messages {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</div>
{% block footer %}
<hr />
© CIIP 2008-2022 |
 {% if DECLARATION_CIIP_UID %}
 <a href="{% url 'content_by_uid' DECLARATION_CIIP_UID %}">Déclaration CIIP</a> |
 <a href="{% url 'content_by_uid' PRES_GENERALE_UID %}">Prés. générale</a> |
 <a href="{% url 'content_by_uid' CAPACITES_TRANS_UID %}">Capacités trans.</a>
 {% endif %}
<div id="authenticated" style="float: right;">
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">{% csrf_token %}
      Connecté en tant que &nbsp;{{ user.username }} &bull;
      <input type="hidden" name="logout" value="1" />
      <input type="submit" value="Déconnexion" />
    </form>
    {% else %}
    <a href="{% url 'login' %}">Connexion</a>
    {% endif %}
</div>
{% endblock %}

<div id="modal" class="hidden">
	<div class="modal-underlay"></div>
	<div class="modal-content">
		<h1>Modal Dialog</h1>
		This is the modal content.
		You can put anything here, like text, or a form, or an image.
		<br>
		<br>
		<button class="modal-close">Fermer</button>
	</div>
</div>

</body>
</html>
