{% load pper_utils %}

{% for tip in cellule.cell.illustration_set.all %}
<div class="tip {% if not tip.published %}private{% endif %}">
    <img src="{% static 'img/tip.svg' %}"
         title="Illustration {% if not tip.published %}(non publiée){% endif %}" width="12"> {{ tip.titre }}
    {% if editable %}
      <span class="edit_widgets">
      <a class="cell_edit" href="{% url 'tip_edit' cellule.cell.id tip.id %}" onclick="return edit_content(this);"><img src="{% static 'img/edit.gif' %}" title="Édition"></a>
      <a class="cell_edit" href="{{ delete_tip_url }}" onclick="return delete_content(this, {{ cellule.cell.id }}, {{ tip.id }});"><img src="{% static 'img/delete.gif' %}" title="Suppression"></a>
      </span>
    {% endif %}
</div>
{% endfor %}

