<h2>Édition de composante</h2>

<form action="{{ request.path }}" method="POST">{% csrf_token %}
    {% if form.errors %}
      <div class="messages">{{ form.errors }}</div>
    {% endif %}
    {{ form.title }}<br>
    {% if composante == None %}
    <input type="submit" value="Ajouter composante">
    {% else %}
    <input type="submit" value="Modifier">
    {% endif %}
    <button type="button" class="modal-close">Annuler</button>
</form>
