{% extends "base.html" %}
{% block title %}PPER: contenu id/uid {{ content.id }}/{{ content.uid }}{% endblock %}

{% block content %}
  {{ content.render|safe }}

  {% if editable %}
      <span class="edit_widgets" style="display:block;">
      <a href="{% url 'content_edit' 0 content.id %}"><img src="{% static 'img/edit.gif' %}" alt="Édition"></a>
      </span>
  {% endif %}
{% endblock %}
