<h2>Édition de contenu</h2>

<div class="help">
    Maj+Enter pour un retour de ligne simple
</div>

<form action="{{ request.path }}" method="POST">{% csrf_token %}
    {% if form.errors %}
      <div class="messages">{{ form.errors }}</div>
    {% endif %}
    {{ form.texte }}<br/>
    {{ form.type_c.label }} {{ form.type_c }}&nbsp;&nbsp;&nbsp;
    {% if form.level %}{{ form.level.label }} {{ form.level }}{% endif %}

    {% if form.has_comps %}
    <table>
      <tr>{% for objcode, comp_list in form.bound_comp_fields %}
        <td valign="top">
            <b>{{ objcode }}</b><br>
            {% for field in comp_list %}
                {{ field }} <span title="{{ field.label }}">{{ field.label|truncatewords:6 }}</span><br>
            {% endfor %}
        </td>
          {% endfor %}
      </tr>
    </table>
    {% endif %}

    <br>
    {% if new_content %}
    <input type="submit" value="Créer contenu">
    {% else %}
    <input type="submit" value="Modifier">
    {% endif %}
    <button type="button" class="modal-close">Annuler</button>
</form>

{% if used_in_specs %}
<p>Ce contenu est utilisé dans:</p>
<ul>
{% for sp in used_in_specs %}
  <li>{{sp}}</li>
{% endfor %}
</ul>
{% endif %}
