{% load pper_extras pper_utils %}

{% url 'content_delete' 'spec' course.id  as delete_content_url %}
{% url 'tip_delete' 'spec' course.id  as delete_tip_url %}

{% for row_key, line in tableau %}
  <tr>{% if editable %}
    <td class="edit_column">
      <a href="." class="moveup_row" onclick="return moveup_row(this, {{ row_key }})"><img src="{% static 'img/move-up.png' %}"  title="Monter la ligne"></a><br/>
      <a href="." class="del_row" onclick="return del_row(this, {{ row_key }})"><img src="{% static 'img/list-remove.png' %}"  title="Supprimer une ligne"></a>
      <a href="." class="add_row" onclick="return add_row(this, {{ row_key }})"><img src="{% static 'img/list-add.png' %}" title="Ajouter une ligne"></a>
    </td>
    {% endif %}
  {% for cell_key, cellule in line.items %}
    <td colspan='{{ cellule.colspan }}' rowspan='{{ cellule.rowspan }}' class='{{ cellule.style }}' {% if td_width %}width='{{ td_width }}%'{% endif %}>
      {% if not cellule.cell.is_empty %}
        <div class="cellcontent" id="cell-{{ cellule.cell.id }}">
        {# for loop identical to course-cell-content.html, statically included for perf reasons #}
          {% render_cant_resources cellule.cell editable False %}
          {% if cellule.cell.is_attente %}<ul>{% endif %}
          {% for content in cellule.cell.formatted_content %}
            {% if cellule.cell.is_attente %}<li>{% endif %}
            <span id="content-{{ content.id }}" class="content content-{{ content.id }}">{{ content.texte|safe }}</span>
            {% if editable %}
              <span class="edit_widgets">
                  <a class="cell_edit" href="{% url 'content_edit' cellule.cell.id content.id %}" onclick="return edit_content(this{% if rich_editing %}, true{% endif %});"><img src="{% static 'img/edit.gif' %}" title="Édition"></a>
                  <a class="cell_edit" href="{{ delete_content_url }}" onclick="return delete_content(this, {{ cellule.cell.id }}, {{ content.id }});"><img src="{% static 'img/delete.gif' %}" title="Suppression"></a>
              </span>
            {% endif %}
            {% if cellule.cell.is_attente %}</li>{% endif %}
          {% endfor %}
          {% if cellule.cell.is_attente %}</ul>{% endif %}
          {% include 'cell-tips.html' %}
          {% render_resources cellule.cell editable_res False %}
        </div>
      {% else %}
        <!-- empty cell -->
        <div class="cellcontent" id="cell-{{ cellule.cell.id }}">
          {% include 'cell-tips.html' %}
          {% render_cant_resources cellule.cell editable_res False %}
          {% render_resources cellule.cell editable_res False %}
        </div>
      {% endif %}
      {% if editable %}
        <div class="edit_widgets" style="float:right">
        {% if cellule.can_grow_right %}
            <a href="." class="grow_right" onclick="return grow_right('{{ cellule.cell.id }}');"><img src="{% static 'img/go-next.png' %}" title="Étendre à droite"></a>
        {% endif %}
        {% if cellule.can_shrink_left %}
            <a href="." class="shrink_left" onclick="return shrink_left('{{ cellule.cell.id }}');"><img src="{% static 'img/go-previous.png' %}" title="Rétrécir"></a>
        {% endif %}
        {% if cellule.can_grow_down %}
            <a href="." class="grow_down" onclick="return grow_down('{{ cellule.cell.id }}-{{ cellule.can_grow_down }}');"><img src="{% static 'img/go-down.png' %}" title="Étendre vers le bas"></a>
        {% endif %}
        {% if cellule.can_shrink_up %}
            <a href="." class="shrink_up" onclick="return shrink_up('{{ cellule.can_shrink_up }}');"><img src="{% static 'img/go-up.png' %}" title="Remonter"></a>
        {% endif %}
        </div>
      {% endif %}
      {% if editable or editable_res %}
        {% if not cellule.cell.is_title %}
        <div class="edit_widgets">
          {% if editable %}
            <a class="pop_editor" href="{% url 'content_new' cellule.cell.id %}">
                <img src="{% static 'img/list-add.png' %}" title="Ajouter un contenu">
            </a>
            <a class="pop_editor" href="{% url 'tip_new' cellule.cell.id %}">
                <img src="{% static 'img/tip.svg' %}" title="Ajouter une illustration">
            </a>
          {% endif %}
          <a class="pop_editor" href="{% url 'resource_link_to_cell' cellule.cell.id %}">
            <img src="{% static 'img/resource_off.png' %}" title="Lier une ressource ou un catalogue">
          </a>
          <a class="paste_icon" href="{% url 'resource_paste' cellule.cell.id %}" {% if clipboard_set %}style="display:inline;"{% endif %}>
            <img src="{% static 'img/paste.png' %}" title="Coller la ressource" width="16"></a>
          {% if editable and cellule.cell.is_progression %}
            <a href="." onclick="return set_border(this, {{ cellule.cell.id }}, 'all');"><img src="{% static 'img/border1.png' %}" title="Bordure complète"></a>
            <!-- <a href="." onclick="return set_border(this, {{ cellule.cell.id }}, 'noupbot');"><img src="{% static 'img/border2.png' %}" title="Sans bordure en haut ni en bas"/></a>
            <a href="." onclick="return set_border(this, {{ cellule.cell.id }}, 'noup');"><img src="{% static 'img/border3.png' %}" title="Sans bordure en haut"/></a> -->
            <a href="." onclick="return set_border(this, {{ cellule.cell.id }}, 'nobot');"><img src="{% static 'img/border4.png' %}" title="Sans bordure en bas"></a>
          {% endif %}
        </div>
        {% endif %}
      {% endif %}
    </td>
    <!-- <font color='blue'>cellule.position</font> -->
  {% endfor %}
  </tr>
{% endfor %}
