{% for comp in composantes %}
  &nbsp;<span id='{{ objectif.code_slug }}#{{ comp.letter }}'>{{ comp.get_letter }}. {{ comp.title|safe }}</span>
  {% if editable %}
    <span class="edit_widgets">
      <a class="cell_edit" href="{% url 'composante_edit' objectif.id comp.id %}" onclick="return edit_content(this);">
        <img src="{% static 'img/edit.gif' %}" alt="Édition"></a>
      <a class="cell_edit" href="#" onclick="return delete_composante(this, {{ comp.id }});">
        <img src="{% static 'img/delete.gif' %}" alt="Suppression"></a>
    </span>
  {% endif %}
  {% if not forloop.last %}<br />{% endif %}
{% endfor %}
{% if editable %}
<br/>
<span class="edit_widgets">
<a class="cell_edit" href="{% url 'composante_edit' objectif.id 0 %}" onclick="return edit_content(this);">
  <img src="{% static 'img/list-add.png' %}" title="Ajouter une composante" width="12"></a>
</span>
{% endif %}
