{% extends "base.html" %}
{% block title %}PER: {{ course.code }}{% endblock %}

{% block extra_head %}
{% if editable %}
  <script>
  var table_data_url = "{% url 'course_table_data' 'spec' course.id %}";
  var composantes_url = "{% url 'composantes' course.id %}";
  var pre_content_url = "{% url 'course_cell_content' 'spec' course.id -1 %}";
  var post_content_url = "{% url 'course_cell_content' 'spec' course.id -2 %}";
  var cell_content_url = "{% url 'cell_content' 0 %}";
  var add_row_url = "{% url 'course_insert_row' 'spec' course.id %}";
  var del_row_url = "{% url 'course_delete_row' 'spec' course.id %}";
  var moveup_row_url = "{% url 'course_moveup_row' 'spec' course.id %}";
  var grow_down_url = "{% url 'course_grow_down' 'spec' course.id %}";
  var shrink_up_url = "{% url 'course_shrink_up' 'spec' course.id %}";
  var grow_right_url = "{% url 'course_grow_right' 'spec' course.id %}";
  var shrink_left_url = "{% url 'course_shrink_left' 'spec' course.id %}";
  var delete_composante_url = "{% url 'composante_delete' %}";
  var set_border_url  = "{% url 'set_border' %}";
  var images_upload_url = "{% url 'upload_image' %}";
  var obj_code = "{{ course.objectif.code }}";
  var course_id = {{ course.id }};
  </script>
  <style>
    div.form-tabs { display: none; }
    .edition-block {
        float:right; border: 1px solid gray; background-color: #ccc; padding: 0.5em; margin-bottom: 1em;
        position: sticky; top: 20px;
    }
  </style>
{% endif %}
  {% include 'edition_headers.html' %}
{% endblock %}

{% block content %}
<div id="edit_dialog" title="Édition de contenu"></div>

<p align='right'>{{ course.discipline }} &bull; Cycle {{ course.objectif.cycle }} &bull; {{ course.objectif.get_thematique_name }}</p>

{% if editable or editable_res %}
  <div class="edition-block">
    <form name="edit_activation">
    <!-- Actions defined in document.ready in table_edit.js -->
    <input type="button" id="edit_button" value="Activer l'édition">
    </form>
  {% if editable and course.is_pushable %}
  <hr>
  <div class="clear">
    <form name="edit_activation">
      {% if course.status != 'published' %}
        <em>Cette progression n'est pas publiée</em><br>
        <a href="{% url 'course-public' course.objectif.code_slug %}">Cette page en pré-publication</a>
      {% else %}
        Voir sur le portail CIIP :
        <div><!--input type="button" id="pper_button_dev" value="En développement"
               data-url="{ url 'portail_upload' course.id 'dev' }" style="font-style: italic;"-->
               <a href="https://dev-portail.ciip.ch/per/learning-objectives/{{ course.pk }}"
                  target="_blank" title="Voir la page sur le site de développement du portail CIIP">En développement</a>
        </div>
        <div><!--input type="button" id="pper_button_staging" value="En validation"
               data-url="{ url 'portail_upload' course.id 'staging' }" style="font-style: italic;"-->
               <a href="https://staging-portail.ciip.ch/per/learning-objectives/{{ course.pk }}"
                  target="_blank" title="Voir la page sur le site de développement du portail CIIP">En validation</a>
        </div>
        <div><!--input type="button" id="pper_button_prod" value="En production"
               data-url="{ url 'portail_upload' course.id 'prod' }"-->
               <a href="https://portail.ciip.ch/per/learning-objectives/{{ course.pk }}"
                  target="_blank" title="Voir la page sur le site de développement du portail CIIP">En production</a>
        </div>
        <hr>
        <a href="{% url 'course-public' course.objectif.code_slug %}">Cette page en pré-publication</a><br>
      {% endif %}
    </form>
  </div>
  {% endif %}
  </div>
{% endif %}

{% for obj in objectifs_lies %}
  <div class="linked_objective">
    <em>En lien avec&nbsp;:</em><br>
    <b><a href="{% url 'objectif' obj.id %}">{{ obj.code }}</a> {{ obj.title }}</b>
  </div>
{% endfor %}

{% if editable and not course.is_pushable %}
    <ul class="messages">
        <li class="messages warning">Attention: cette progression n'est jamais affichée sur la PPER !</li>
    </ul>
{% endif %}

<p>
    {% if course.objectif.cantons %}
    <div><em>Cet objectif est spécifique aux cantons: {{ course.objectif.cantons }}</em></div>
    {% endif %}
    <span class="{{ course.status }}">
       <h2>{{ course.code }} {{ course.objectif.title }}
       </h2>
       {% if course.status == 'archived' %} <em><b>Archivé</b></em>{% endif %}
    </span>
</p>

<div id="composantes" style="margin-bottom: 0.8em;">
{% with course.objectif as objectif %}
{% include "course-comp-list.html" %}
{% endwith %}
</div>

{% if pre_tableaux %}
<ul>
  {% for tbl in pre_tableaux %}
    <li><a href="{% url 'tableau' tbl.id %}">{{ tbl.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if pre_content %}
<div id="cell-pre_content" style="margin-bottom: 1.5em;">{{ pre_content|safe }}
    {% if editable %}
      <span class="edit_widgets">
      <a class="cell_edit" href="{% url 'content_edit' -1 course.pre_content.id %}" onclick="return edit_content(this, true);"><img src="{% static 'img/edit.gif' %}" alt="Édition"/></a>
      <a class="cell_edit" href="#" onclick="return delete_content(this, -1, {{ course.pre_content.id }});"><img src="{% static 'img/delete.gif' %}" alt="Suppression"/></a>
      </span>
    {% endif %}
</div>
{% endif %}

{% with course.objectif.domain.abrev as dom_abrev %}
{# Tableau avec en-têtes #}
<table border='1' class='t_progression'>
<thead>
<tr>{% if editable %}<th class="edit_column" width="5%"></th>{% endif %}
   <th colspan='{{ spec_columns }}' class='progression{{ dom_abrev }}'>
     {% if dom_abrev == "FG" %}{{ static_txt.prog_fg.txt }}{% else %}{{ static_txt.prog.txt }}{% endif %}</th>
{% if course.has_attentes %}
   <th class='attente{{ dom_abrev }}'>{{ static_txt.att.txt }}</th>
{% endif %}
   <th class='indication{{ dom_abrev }}'>{{ static_txt.indic.txt }}</th>
</tr>
<tr>
  {% if editable %}<td class="edit_column"></td>{% endif %}
  {% for header in sub_headers %}
    <th align='center' width='{{ col_width }}' class='progression{{ dom_abrev }}'>{{ header.txt|safe }}</th>
  {% endfor %}
{% if course.has_attentes %}
   <td align='center' width='{{ col_width }}' class='attente{{ dom_abrev }}'><i>{{ static_txt.att_1.txt }}</i></td>
{% endif %}
   <td align='center' width='{{ col_width }}' class='indication{{ dom_abrev }}'>{{ static_txt.indic_1.txt }}</td>
</tr>
</thead>
<tbody id="course-body">
{% include "course-table-body.html" %}
</tbody>
</table>
{% endwith %} 

{% if post_content %}
<div style="margin-top: 1.5em;" id="cell-post_content">{{ post_content|safe }}
    {% if editable %}
      <span class="edit_widgets">
      <a class="cell_edit" href="{% url 'content_edit' -2 course.post_content.id %}" onclick="return edit_content(this, true);"><img src="{% static 'img/edit.gif' %}" alt="Édition"/></a>
      <a class="cell_edit" href="#" onclick="return delete_content(this, -2, {{ course.post_content.id }});"><img src="{% static 'img/delete.gif' %}" alt="Suppression"/></a>
      </span>
    {% endif %}
</div>
{% endif %}

{% if post_tableaux %}
<ul>
  {% for tbl in post_tableaux %}
    <li><a href="{% url 'tableau' tbl.id %}">{{ tbl.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
