{% load pper_extras pper_utils %}

{% render_cant_resources cellule.cell editable False %}
{% if cellule.cell.is_attente %}<ul>{% endif %}
{% for content in cellule.cell.formatted_content %}
    {% if cellule.cell.is_attente %}<li>{% endif %}
    <span id="content-{{ content.id }}" class="content content-{{ content.id }}">{{ content.texte|safe }}</span>
    {% if editable %}
      <span class="edit_widgets">
      <a class="cell_edit" href="{% url 'content_edit' cellule.cell.id content.id %}" onclick="return edit_content(this{% if rich_editing %}, true{% endif %});"><img src="{% static 'img/edit.gif' %}" alt="Édition"></a>
      <a class="cell_edit" href="#" onclick="return delete_content(this, {{ cellule.cell.id }}, {{ content.id }});"><img src="{% static 'img/delete.gif' %}" alt="Suppression"></a>
      </span>
    {% endif %}
    {% if cellule.cell.is_attente %}</li>{% endif %}
{% endfor %}
{% if cellule.cell.is_attente %}</ul>{% endif %}
{% include 'cell-tips.html' %}
{% render_resources cellule.cell editable False %}
