{% extends "base.html" %}
{% block title %}PPER: discipline {{ discipline.name }}{% endblock %}

{% block content %}

<h1>{{ discipline.name }}</h1>
<p>Domaine : <a href="{{ discipline.domain.get_absolute_url }}">{{ discipline.domain.name }}</a></p>
<ul>
{% for spec in discipline.specification_set.all %}
  <li><a href="{{ spec.get_absolute_url }}">{{ spec }}</a></li>
{% endfor %}
</ul>

{% endblock %}
