{% extends "base.html" %}
{% block title %}PPER: domaine {{ domain.name }}{% endblock %}

{% block content %}

<h1>{{ domain.name }}</h1>

<div>
  <ul>
    {% for line in visees %}
    <li>{{ line }}</li>
    {% endfor %}
  </ul>
</div>

{% if domain.id %}
<div style="float:right;"><a href="{% url 'lexique' domain.id %}">Lexique «&nbsp;{{ domain.name }}&nbsp;»</a></div>
{% for tg in textes_gen %}
<br/><a href="{{ tg.get_absolute_url }}">{{ tg.title }}</a> {% if tg.cycle %}(cycle {{ tg.cycle }}){% endif %}
{% endfor %}
</p>
{% endif %}

<table cellpadding='8'>
<tr><td></td>
{% for th in thematiques %}
    <td class='thematique {{ th.domain.abrev }}'>{{ th.name }}</td>
{% endfor %}
</tr>
{% for obj_dict in objectifs %}
  <tr class="{% cycle 'even' 'odd' %}"><td>C{{ obj_dict.cycle }}</td>
  {% for key,th in obj_dict.thematiques.items %}
    <td valign='bottom'>
    {% for obj in th %}
      {% if obj.cantons %}<p>{{ obj.cantons }}</p>{% endif %}
      {% if not obj.suppress_title %}<p class='objectif'>{{ obj.code }} - {{ obj.title }}</p>{% endif %}
      <table width='100%'><tr>
        {% for spec in obj.specification_set.all %}
          <td align='center'><p class='discipline {{ spec.status }}'>
             <a href="{% url 'course' spec.id %}">{% for disc in spec.disciplines.all %}{% if not forloop.first %} - {% endif %}{{ disc.name }}{% endfor %}</a>
             {% if spec.status == 'archived' %} <em>Arch.</em>{% endif %}
             {% if spec.version %} <em>({{ spec.version }})</em> {% endif %}
          </td>
        {% endfor %}
      </tr></table>
    {% endfor %}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>


{% endblock %}
