<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.7.1/tinymce.min.js"></script>
<script src="{% static 'js/table_edit.js' %}"></script>
<script src="{% static 'js/resource_search_box.js' %}"></script>
<script>
  var ajaxLoaderImg = "{% static 'img/ajax-loader.gif' %}";
  var tinyCSS = "{% static 'css/per.css' %}";
</script>
