{% extends "base.html" %}

{% block content %}
<h1>Liste des images de la BD-PER</h1>

<table border='1'>
{% for img in imgs %}
<tr><td>{{ img.source }}</td>
    <td>{% if img.char %}{{ img.char }}{% endif %}</td>
    <td><img src="{{ img.get_png_src }}"></td>
    <td><a href="{{ img.get_eps_url }}">{{ img.get_eps_filename }}</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
