{% extends "base.html" %}
{% block title %}Accueil BD-PER{% endblock %}

{% block header %}
{% endblock %}
{% block content %}

    <h1>Plan d'études romand (PER) - plateforme éditoriale</h1>
    <p>Cette plateforme constitue l'interface d'édition du PER. Le contenu sert ensuite de base à la transmission des données, d'une part à la <a href="https://portail.ciip.ch/">plateforme du PER</a>, d'autre part aux graphistes en vue de la production de PDF ou de manuels imprimés.</p>
    <div align="center">
    {% for dom in domains %}
        <h1><a href="{% url 'domain' dom.id %}">{{ dom.name }}</a></h1>
    {% endfor %}
    <h1><a href="{% url 'spec_cantonales' %}">Spécificités cantonales</a></h1>
    </div>

<h3>Voir aussi</h3>
<ul>
  <li><a href="{% url 'print_order' %}">Ordre d'apparition des objectifs dans la version imprimée</a></li>
</ul>
{% endblock %}
