<h2>Édition du lexique</h2>

<div class="help">
    Maj+Enter pour un retour de ligne simple
</div>
<form action="{{ request.path }}" method="POST">
    {% if form.errors %}
      <div class="messages">{{ form.errors }}</div>
    {% endif %}
    {{ form.term }}<br>
    {{ form.definition }}<br>
    {{ form.comgen }} <label for="id_comgen">Terme des commentaires généraux du domaine</label><br>
    <div class="help">
        Ctrl+clic pour sélectionner plusieurs disciplines
    </div>
    {{ form.disciplines }}

    <br>
    {% if form.instance.pk %}
    <input type="submit" value="Modifier">
    {% else %}
    <input type="submit" value="Créer entrée">
    {% endif %}
    <button type="button" class="modal-close">Annuler</button>
</form>
