{% extends "base.html" %}
{% block title %}PPER: lexique du domaine {{ domain.name }}{% endblock %}

{% block extra_head %}
{% include 'edition_headers.html' %}
<script>
$(document).ready(function(){
    $(".edit_widgets").show()
});
</script>
{% endblock %}

{% block content %}
  <h1>Lexique du domaine {{ domain.name }}</h1>
  <dl class="lexique_list">
  {% for item in items %}
    <dd>{{ item.term }} <span class="lex_discipline">{{ item.disciplines }}</span></dd>
    <dt>{{ item.definition|safe }}</dt>
      {% if editable %}
        <span class="edit_widgets">
          <a class="edit_link" href="{% url 'lexique_edit' domain.id item.id %}" onclick="return edit_content(this);">
            <img src="{% static 'img/edit.gif' %}" alt="Édition"/></a>
          <a class="delete_link" href="{% url 'lexique_delete' %}" onclick="return delete_lexique(this, {{ item.id }});">
            <img src="{% static 'img/delete.gif' %}" alt="Suppression"/></a>
        </span>
      {% endif %}
  {% empty %}
    <p>Aucun élément de lexique pour l'instant.</p>
  {% endfor %}
  </dl>
  
{% if editable %}
<br/>
<span class="edit_widgets">
<a class="cell_edit" href="{% url 'lexique_edit' domain.id 0 %}" onclick="return open_editor(this);">
  <img src="{% static 'img/list-add.png' %}" title="Ajouter un terme" width="12"/></a>
</span>
{% endif %}
{% endblock %}
