{% extends "base.html" %}

{% block content %}
<h1>Liens de la BD du PER</h1>

<table>
<tr><th width="30%">Utilisé dans</th><th>Texte du lien</th><th>Destination du lien</th></tr>
{% for lien in liens %}
<tr><td>{% for obj in lien.orig %}<a href="{{ obj.get_absolute_url }}">{{ obj }}</a>{% endfor %}</td>
    <td>{{ lien.txt }}</td><td>{{ lien.dst|safe }}</td></tr>
{% endfor %}
</table>

{% endblock %}
