<h2>Lier une ressource existante</h2>

<form method="post" action="{{ request.path }}">{% csrf_token %}
{{ form.non_field_errors }}
<div class="ajax_search_section">
    Rechercher: {{ form.search_box }}
    <div class="details"></div>
    <button class="btn">Ajouter</button>
    <button type="button" class="modal-close">Annuler</button>
    <div class="result_length" style="color: red;"></div>
    {{ form.resource_pk }}
</div>

<hr>

<h2>Lier un catalogue de ressources existant</h2>
<div class="ajax_search_section">
    Rechercher: {{ form.cat_search_box }}
    <div class="details"></div>
    <button class="btn">Ajouter</button>
    <button type="button" class="modal-close">Annuler</button>
    <div class="result_length" style="color: red;"></div>
    {{ form.catalog_pk }}
</div>
</form>
