{% extends "public/base_pper_absolute.html" %}

{% block extra_head %}
<style>
  .hidden { display: none; }
  .wrapper { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
  .provider { flex-basis: 48%; min-width: 300px; padding: 10px; border: 2px solid #369; margin-bottom: 20px; box-sizing: border-box; text-align: center; }
  .provider.direct:hover { background-color: #eee; cursor: pointer; }
  .provider:hover { text-decoration: none; }
  .intro { font-size: 14px; font-weight: bold; color: #369; margin-bottom: 0.5em; }
  .notice, .notice a { color:red; font-style: italic; }
  .notice a { border-bottom: 1px solid red; }
  img.logo { display: inline-block; vertical-align: middle; max-width: 48%; margin: 10px 0px; }
  img.logo.RPN { width: 80%; }
  img.logo.geneve, img.logo.fribourg { width: 35%; }
  img.logo.ciip { max-width: 120px; }
  /* style for local login */
  div.form-row { margin-bottom: 4px; }
  label { display: inline-block; width: 10em; }
  input { border: 1px solid #ccc; }
</style>
{% endblock %}

{% block header %}{% endblock %}
{% block authentication %}{% endblock %}

{% block content %}
<h1>Connexion au site des ressources numériques du Plan d’études romand</h1>
{% if user.is_authenticated %}
  <p>Vous êtes maintenant connecté.<br/>
  <a href="../">Page d’accueil des ressources numériques</a></p>
{% else %}

<div id="content-main">
    <p>Une connexion à ce site n’est utile que pour accéder à certaines ressources limitées aux enseignt-e-s romand-e-s. Nul besoin de se connecter pour effectuer une <a href="{% url 'resource_home' %}">recherche de ressources</a>.
    </p>

    <div class="wrapper">
        <div class="provider direct Edulog">
            <a href="https://bdper.plandetudes.ch/Shibboleth.sso/Login?entityID=https%3A%2F%2Fgo.edulog.ch%2Fauth%2Frealms%2Fedulog&target={{ target_url }}">
            <div class="intro">Authentification pour les utilisateurs Edulog</div>
            <div class="Canton_text_and_logo">
                <img class="logo edulog" src="{% static 'img/logo-edulog.png' %}">
            </div>
            </a>
        </div>

        <div class="provider direct Geneve">
            <a href="https://bdper.plandetudes.ch/Shibboleth.sso/Login?entityID=https%3A%2F%2Fssoeel.geneveid.ch%2Fginasso%2Fgina%2Ffed%2Fplanetudes&amp;target={{ target_url }}">
            <div class="intro">Authentification pour les utilisateurs du canton de Genève</div>
            <div class="Canton_text_and_logo">
                <img class="logo geneve" src="{% static 'img/logo-ge.svg' %}">
            </div>
            </a>
        </div>

        <div class="provider Vaud">
            <p class="intro">Authentification pour les utilisateurs du canton de Vaud</p>
            <a href="https://bdper.plandetudes.ch/Shibboleth.sso/Login?entityID=https%3A%2F%2Fsts.windows.net%2Feb604481-2c81-4bbe-a1ca-94ba812a78d0%2F&amp;target={{ target_url }}">
                <div class="intro">DGEO</div>
                <div class="Canton_text_and_logo">
                    <img class="logo vaud" src="{% static 'img/logo-vd.png' %}">
                </div>
            </a>
            <hr>
            <a href="https://bdper.plandetudes.ch/Shibboleth.sso/Login?entityID=http%3A%2F%2Fsts.edu-vaud.ch%2Fadfs%2Fservices%2Ftrust&amp;target={{ target_url }}">
                <div class="intro">DGEP</div>
                <div class="Canton_text_and_logo">
                    <img class="logo vaud" src="{% static 'img/logo_dgep.webp' %}" title="Logo DGEP VD">
                </div>
            </a>
        </div>

        <div class="provider direct Valais">
            <p><b>En cours de mise au point. Pour l'instant, vous devez être d'abord être connecté à la plate-forme <a href="https://edu.vs.ch">edu.vs.ch</a> avant de revenir cliquer sur le lien de connexion ci-dessous.</b></p>
            <a href="https://bdper.plandetudes.ch/Shibboleth.sso/Login?entityID=https%3A%2F%2Fedusso.apps.vs.ch%2Fauth%2Frealms%2Fictvs&amp;target={{ target_url }}">
            <div class="intro">Authentification pour les utilisateurs du canton du Valais</div>
            <div class="Canton_text_and_logo">
                <img class="logo valais" src="{% static 'img/logo-vs.svg' %}">
            </div>
            </a>
        </div>

        <div class="provider direct RPN">
            <a href="https://bdper.plandetudes.ch/Shibboleth.sso/Login?entityID=https%3A%2F%2Fidp.rpn.ch%2Fidp%2Fshibboleth&target={{ target_url }}">
            <div class="intro">Authentification pour les utilisateurs RPN</div>
            <div class="Canton_text_and_logo">
                <img class="logo RPN" src="https://id.ciip.ch/static/img/idps/logo_rpn_2.png">
            </div>
            </a>
        </div>

        <div class="provider Switch">
            <div class="intro">Authentification pour les utilisateurs Switch (HEP)</div>
            <div class="Canton_text_and_logo">
                <img class="logo" src="{% static 'img/logo-switch.png' %}">
            </div>
            <!-- EMBEDDED-WAYF-START -->
            <script>

            var wayf_URL = "https://wayf.switch.ch/SWITCHaai/WAYF";
            var wayf_sp_entityID = "https://bdper.plandetudes.ch/shibboleth";
            var wayf_sp_handlerURL = "https://bdper.plandetudes.ch/Shibboleth.sso";
            var wayf_return_url = "{{ target_url }}";
            var wayf_hide_categories=new Array("all");
            var wayf_unhide_idps=new Array(
                "https://aai-login.hepl.ch/idp/shibboleth",
                "https://aai-loginhep.edufr.ch/idp/shibboleth",
                "https://aai-login.hep-bejune.ch/idp/shibboleth",
                "https://aai-logon.hepvs.ch/idp/shibboleth",
                "https://idp.unige.ch/idp/shibboleth",
                "https://eduid.ch/idp/shibboleth"
            );
            var wayf_use_improved_drop_down_list=true;
            var wayf_use_small_logo = true;
            var wayf_use_eduid_logo = true;
            </script>
            <script src="https://wayf.switch.ch/SWITCHaai/WAYF/embedded-wayf.js"></script>
            <!-- EMBEDDED-WAYF-END -->
        </div>

        <div class="provider ciip">
            <a href="https://bdper.plandetudes.ch/Shibboleth.sso/Login?entityID=https%3A%2F%2Fidp.ciip.ch%2Fidp%2Fshibboleth&target={{ target_url }}">
                <div class="intro">Authentification pour les utilisateurs CIIP</div>
                <div class="Canton_text_and_logo">
                    <img class="logo ciip" src="{% static 'img/logo-ciip.png' %}">
                </div>
            </a>
        </div>

        <div class="provider local">
            <div class="intro">Connexion locale</div>
            {{ form.non_field_errors }}
            <form action="{% url 'login' %}" method="post" id="login-form" class="login">{% csrf_token %}
                <div class="form-row">
                    <label for="id_username">Nom d’utilisateur</label> {{ form.username }}
                </div>
                <div class="form-row">
                    <label for="id_password">Mot de passe</label> {{ form.password }}
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="Se connecter">
                </div>
            </form>
        </div>
    </div>

{% endif %}
</div>
{% endblock %}

