{% extends "base.html" %}
{% block title %}PER: Objectif {{ objectif.code }}{% endblock %}

{% block content %}
<p align='right'>Cycle {{ objectif.cycle }} &bull; {{ objectif.thematiques.all.0.name }}</p>  

<p><b>{{ objectif.code }} {{ objectif.title }}</b></p>

<div id="composantes" style="margin-bottom: 0.8em;"> 
{% include "course-comp-list.html" %}
</div>

<ul>
{% for spec in objectif.specification_set.all %}
  <li><a href="{% url 'course' spec.id %}">{{ spec }}</a></li>
{% empty %}
  <li><em>Cet objectif ne comporte pas de tableau de progression</em></li>
{% endfor %}
</ul>
{% endblock %}
