{% extends "base.html" %}

{% block content %}
<h1>Ordre d'apparition des objectifs dans la version imprimée</h1>

{% for spec in specs %}
    <a href="{{ spec.get_absolute_url }}">{{ spec }}</a><br />
{% endfor %}
<table>

{% endblock %}
