{% extends "base.html" %}
{% block title %}PER: Recherche de contenu{% endblock %}

{% block extra_head %}
<style type="text/css">
div.result {
  margin-bottom: 1em;
}
div.res_content {
  border:1px solid #B3A37D;
  padding:3px;
  margin-top: 0.2em;
  margin-left: 1.5em;
}
</style>
{% include 'edition_headers.html' %}
{% endblock %}

{% block content %}
<h1>Recherche de contenu</h1>

<form method="GET" action = ".">
{{ search_form.as_table }}
<input type="submit" value="Rechercher" />
</form>

{% if results %}
  <p><strong>{{ total }} contenus trouvés.</strong></p>
  {% for contenu in results.object_list %}
    <div class='result'>
      {% for usage in contenu.usage %}Dans <a href="{{ usage.get_absolute_url }}#content-{{ contenu.id }}">{{ usage }}</a><br />{% endfor %}
      <div class='res_content'>{{ contenu.texte|safe }}
      {% if editable %}
      <br><span class="edit_widgets" style="display:inline;">
        <a href="{% url 'content_edit' 0 contenu.id %}" onclick="return edit_content(this);"><img src="{% static 'img/edit.gif' %}" alt="Édition"></a>
      </span>
      {% endif %}
      </div>
    </div>
  {% endfor %}
{% elif search_form.is_bound %}
  <p>Désolé, aucun résultat pour cette recherche.</p>
{% endif %}

{% if results.has_previous %}
&lt; <a href="?{{ qs }}&p={{ results.previous_page_number }}">Page précédente</a>
{% endif %}
{% if results.has_next %}
<a href="?{{ qs }}&p={{ results.next_page_number }}">Page suivante</a> &gt;
{% endif %}

{% endblock %}
