{% extends "base.html" %}
{% block title %}PER: {{ tabl_obj.title }}{% endblock %}

{% block extra_head %}
{% if editable %}
  <script>
  var table_data_url = "{% url 'course_table_data' 'tableau' tabl_obj.id %}";
  var composantes_url = "";
  var pre_content_url = "{% url 'course_cell_content' 'tableau' tabl_obj.id -1 %}";
  var post_content_url = "{% url 'course_cell_content' 'tableau' tabl_obj.id -2 %}";
  var cell_content_url = "{% url 'cell_content' 0 %}";
  var add_row_url = "{% url 'course_insert_row' 'tableau' tabl_obj.id %}";
  var del_row_url = "{% url 'course_delete_row' 'tableau' tabl_obj.id %}";
  var moveup_row_url = "{% url 'course_moveup_row' 'tableau' tabl_obj.id %}";
  var grow_down_url = "{% url 'course_grow_down' 'tableau' tabl_obj.id %}";
  var shrink_up_url = "{% url 'course_shrink_up' 'tableau' tabl_obj.id %}";
  var grow_right_url = "{% url 'course_grow_right' 'tableau' tabl_obj.id %}";
  var shrink_left_url = "{% url 'course_shrink_left' 'tableau' tabl_obj.id %}";
  var delete_composante_url = "";
  var set_border_url  = "{% url 'set_border' %}";
  /*var course_id = {{ course.id }};*/
  </script>
  <style>
      div.form-tabs { display: none; }
      img { max-width: 100%; }
  </style>
{% endif %}
  {% include 'edition_headers.html' %}
{% endblock %}

{% block content %}
{% if editable %}
  <div id="edit_dialog" title="Édition de contenu"></div>
  <div style="float:right"><form name="edit_activation"><input type="button" id="edit_button" value="Activer l'édition" /></form></div>
{% endif %}

<p><a href="{{ tabl_obj.per_object.get_absolute_url }}">{{ tabl_obj.per_object }}</a></p>
<h1>{{ tabl_obj.title }}</h1>

{% if tabl_obj.type_t == "com_gen" %}
<div>
  {{ tabl_obj.per_object.get_visees|safe }}
</div>
{% endif %}

{% url 'content_delete' 'tableau' tabl_obj.id as delete_content_url %}

{% if tabl_obj.pre_content %}
<div id="cell-pre_content" style="margin-bottom: 1.5em;">{{tabl_obj.pre_content.texte|safe }}
    {% if editable %}
      <span class="edit_widgets">
      <a class="cell_edit" href="{% url 'content_edit' -1 tabl_obj.pre_content.id %}" onclick="return edit_content(this);"><img src="{% static 'img/edit.gif' %}" alt="Édition"></a>
      <a class="cell_edit" href="{{ delete_content_url }}" onclick="return delete_content(this, -1, {{ tabl_obj.pre_content.id }});"><img src="{% static 'img/delete.gif' %}" alt="Suppression"></a>
      </span>
    {% endif %}
</div>
{% endif %}

<table border='1' class='t_progression'>
<tbody id="course-body">
{% include "course-table-body.html" %}
</tbody>
</table>

{% if tabl_obj.post_content %}
<div style="margin-top: 1.5em;" id="cell-post_content">{{ tabl_obj.post_content.texte|safe }}
    {% if editable %}
      <span class="edit_widgets">
      <a class="cell_edit" href="{% url 'content_edit' -2 tabl_obj.post_content.id %}" onclick="return edit_content(this);"><img src="{% static 'img/edit.gif' %}" alt="Édition"></a>
      <a class="cell_edit" href="{{ delete_content_url }}" onclick="return delete_content(this, -2, {{ tabl_obj.post_content.id }});"><img src="{% static 'img/delete.gif' %}" alt="Suppression"></a>
      </span>
    {% endif %}
</div>
{% endif %}

<form method="post" id="init_visible" action="{% url 'tableau_set_visible' tabl_obj.pk %}">
  {{ visible_form.init_visible }} {{ visible_form.init_visible.label_tag }}
</form>

{% endblock %}

