<h2>Édition d'illustration</h2>

<form class="tip_form" action="{{ request.path }}" method="POST">{% csrf_token %}
    {% if form.errors %}
      <div class="messages">{{ form.errors }}</div>
    {% endif %}
    <div>{{ form.titre.label_tag }}<br>
        {{ form.titre.errors }}{{ form.titre }}
    </div>

    <div class="help">
        Maj+Enter pour un retour de ligne simple
    </div>
    <div>{{ form.texte.errors }}{{ form.texte }}</div>

    <div>{{ form.source.label_tag }}<br>
        {{ form.source.errors }}{{ form.source }}
    </div>
    <div>{{ form.published }} {{ form.published.label_tag }}</div>
    {% if new_content %}
    <input type="submit" value="Créer illustration">
    {% else %}
    <input type="submit" value="Modifier">
    {% endif %}
    <button type="button" class="modal-close">Annuler</button>
</form>
