{% extends "base.html" %}
{% block extra_head %}
<script>
function edit_cell(link) {
    window.open(link.href, link, 'width=420,height=360');
    return false;
}

$(document).ready(function(){
    $(".edit_widgets").show();
});
</script>
{% endblock %}

{% block content %}
<h1>Titres 1</h1>

<ul>
{% for titre in titres %}
 <li style="margin-bottom:4px">({{ titre.id }}) <span class="content-{{ titre.id }}">{{ titre.texte }}</span>
     {% if editable %}
          <span class="edit_widgets">
          <a class="cell_edit" href="{% url 'content_edit' 0 titre.id %}" onclick="return edit_cell(this);"><img src="{% static 'img/edit.gif' %}" alt="Édition"></a>
          </span>
     {% endif %}
     <br />
     <em>Utilisé dans:</em><br/>
     {% for cell in titre.cellule_set.all %}
     <a href="{{cell.get_super.get_absolute_url}}">{{ cell.get_super }}</a> - {{ cell.get_type_c_display }} (<a href="">{{ cell.id }}</a>)<br />
     {% endfor %}
 </li>
{% endfor %}
</ul>
{% endblock %}
