<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>{% block title %}PER{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% url 'domain_colors' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/public-nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/public-print.css' %}" media="print">
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div id="container">
  <div id="banner">
    <h1 class="logo"><a href="{% url 'home-public' %}" class="png"><img src="{% static 'img/pper_logo.svg' %}"></a></h1>
  </div>
  <div id="navigation">
    <ul>
      <li>Bienvenue</li>
      <li><a href="{% url 'home-public' %}">PER</a></li>
      <li><a href="{% url 'content_by_uid-public' DECLARATION_CIIP_UID %}">Déclaration de la CIIP</a></li>
      <li><a href="{% url 'content_by_uid-public' PRES_GENERALE_UID %}">Présentation générale</a></li>
      {% block textgen-extra %}{% endblock %}
    </ul>
  </div>
  <div id="content-wrapper">
    {% block content %}
    {% endblock %}
  </div>
  <div style="clear: both"></div>
  </div>
</body>
</html>
