{% load pper_extras %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}PER{% endblock %}</title>
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% url 'domain_colors' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/public-nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/public-print.css' %}" media="print">
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div id="container">
  <div id="navigation">
    <div><a href="https://portail.ciip.ch/"><img src="{% static 'img/logo-per-mer.svg' %}"></a></div>
    <div><a href="https://portail.ciip.ch/per/">Plan d’études romand</a></div>
    <div><a href="https://portail.ciip.ch/mer">Moyens d’enseignement romands</a></div>
    <div><a href="{% url 'resource_home' %}">Ressources numériques</a></div>
    {% block textgen-extra %}{% endblock %}
  </div>

  <div id="banner">
  {% block authentication %}
    <div id="authenticated">
      {% if user.is_authenticated %}
        <form action="{{ request.user|logout_link }}" method="post">{% csrf_token %}
          Connecté en tant que {{ user|human_name }} &bull;
          <input type="hidden" name="logout" value="1">
          <input type="submit" value="Fermer la session">
        </form>
        {% else %}
        <i><a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">ouvrir une session</a></i>
        {% endif %}
    </div>
  {% endblock %}
  </div>

  <div id="content-wrapper">
    {% block under-navigation %}{% endblock %}

    {% if breadcrumb %}
    <div id="breadcrumb">
      {% for text, link in breadcrumb %}<a href="{{ link }}">{{ text }}</a>{% endfor %}
    </div>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="messages {{ message.tags }}">{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
  </div>

  <footer>
    {% block footer %}{% endblock %}
  </footer>

  </div>
</body>
</html>
