{% extends base %}
{% load pper_extras %}

{% block title %}Plan d'études romand - {{ domain.name }} - {{ thematique.name }}{% endblock %}

{% block extra_head %}
<script>
  var links = new Array();
 {% for code,lks in links.items %}
  links['o{{ code }}'] = {{ lks }};
 {% endfor %}

  window.addEventListener("DOMContentLoaded", (ev) => {
    document.querySelectorAll("td.obj_cell").forEach(td => {
      // Highlight linked objectives, if any
      if (links[td.id]) {
          const targetSelector = "td#o" + links[td.id];
          td.addEventListener("mouseenter", (ev) => {
              document.querySelector(targetSelector).classList.add('highlighted');
          });
          td.addEventListener("mouseleave", (ev) => {
              document.querySelector(targetSelector).classList.remove('highlighted');
          });
      }
    });
  });
</script>
{% endblock %}

{% block content %}
  <div style="float: right; text-align:right; margin-top:1em;">
    {% for disc in other_discs %}
      <div class="other-disciplines"><a class="color{{ domain.abrev }}" href="{% url 'discipline-public' disc.slug %}">{{ disc }} <img style="padding-top: 6px; vertical-align:baseline; float:right;" src="{% static 'img/arrow_right.png' %}"></a>{% if disc.is_cant %}<br><span style="font-style: italic; margin-right: 1.2em; color: #777777;">Spécificité cantonale</span>{% endif %}</div>
    {% endfor %}
  </div>
  <h1 class="{{ domain.abrev }}">{{ domain.name }} ({{ domain.abrev }}){% if domain.name != discipline.name %} — {{ discipline.name }}{% endif %}</h2>
  <h3 class="{{ domain.abrev }}" style="margin-bottom: 0.3em;">Visées prioritaires</h3>
  <div class="visee {{ domain.abrev }} lightbg-{{ domain.abrev }}">{{ domain.visee|linebreaksbr }}</div>
  {% for cg in com_gen %}
    <p><strong><a class="text_gen color{{ domain.abrev }}" href="{% url 'commentaires-generaux-public' domain.abrev|lower cg.slug %}">{{ cg.title }}</a></strong></p>
  {% endfor %}
  
  <div class="th-table">
  {% for version, matrix in matrixes.items %}
  {% if matrixes|length > 1 %}
  <h2 class="{{ domain.abrev }}">{{ version.name }} : {{ version.complement|safe }}</h2>
  {% endif %}
  <table class="matrix" width="100%">
  {% for cycle in matrix %}
    {% if forloop.first %}
      <thead><tr>
      {% for thematique in cycle %}
        {% if thematique %}
        <th class="th_title {% if thematique.inactive %}inactive{% endif %}" width="{{ td_width }}%">
          {% if thematique.inactive %}<a href="{% url 'discipline-public' thematique.discipline.slug %}">{% endif %}
          {{ thematique.name }}
          {% if thematique.inactive %}</a>{% endif %}
        </th>
        {% else %}<th width="4%"></th>
        {% endif %}
      {% endfor %}
      </tr></thead>
      <tbody>
    {% else %}
      <tr class="{% if matrixes|length > 1 and cycle.0.empty %}empty{% endif %}">
      {% for cell in cycle %}
        {% if forloop.first %}<td>{{ cell }}</td>
        {% else %}
          {% if cell %}
            {% ifchanged %}
            <td id="o{{ cell.objectif.id }}" class="obj_cell bg-{{ domain.abrev }}" {% if cell.colspan %}colspan="2"{% endif %}>
              <a href="{% url 'course-public' cell.code_slug %}{% if matrixes|length > 1 %}#v{{ version.pk }}{% endif %}"><div>
              <strong>{{ cell.code_display }}</strong><br/>
              <span class="truncated">{{ cell.objectif.title|truncatewords:6 }}</span>
              <span class="non-truncated">{{ cell.objectif.title }}</span>
              </div></a>
            </td>
            {% endifchanged %}
          {% else %}
            <td class="empty"></td>
          {% endif %}
        {% endif %}
      {% endfor %}
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
  </table>
  {% endfor %}
  </div>
{% endblock %}
