{% extends "public/base.html" %}

{% block title %}Plan d'études romand - plandetudes.ch{% endblock %}

{% block content %}
<!--<div id="navig-criteres" style="width: 30%;">
  <h2>Navigation par critères</h2>
  <form>
    <table class="navig-criteres-table">
      <tr><td class="navig-criteres-label">Domaine :</td>
          <td><select class="navig-criteres-select">{% for dom in domains %}<option>{{ dom.name }}</option>{% endfor %}</select></td>
      </tr>
      <tr><td></td><td><input type="submit" value="Valider" /><input style="float:right;" type="button" value="Effacer" /></td>
      </tr>
    </table>
  </form>
</div>-->

<div id="main-home" style="width: 100%;">
  <h2>Domaines et disciplines</h2>
  <div style="width: 66%; float:left;">
  {% for dom in domains_without_fg %}
    <div style="float:left; width:45%; margin-right:2em;">
      <h3 class="bg-{{ dom.abrev }}">{{ dom.name }}</h3>
      <ul class="home">
      {% for disc in dom.disciplines_romandes %}
        <li><a href="{% url 'discipline-public' disc.slug %}" class="thematique {% if not disc.published %}unpublished{% endif %}"><img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">{{ disc.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
    <div style="float:left; width:45%; margin-right:2em;">
      <h3 class="bg-SC">Spécificités cantonales</h3>
      <ul class="home">
      {% for disc in spec_cant %}
        <li><a href="{% url 'discipline-public' disc.slug %}" class="thematique {% if not disc.published %}unpublished{% endif %}"><img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">{{ disc.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div style="width: 33%; float:left;">
    <div style="">
    {% with domain_fg as dom %}
      <div style="float:left; width:100%; margin-right:2em;">
        <h3 class="bg-{{ dom.abrev }}">{{ dom.name }}</h3>
        <ul class="home">
          <li><a href="" onclick="alert('À créer...'); return false;" class="thematique"><img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">
              Cycle 1</a></li>
          <li><a href="" onclick="alert('À créer...'); return false;" class="thematique"><img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">
              Cycle 2</a></li>
          <li><a href="" onclick="alert('À créer...'); return false;" class="thematique"><img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">
              Cycle 3</a></li>
        </ul>
      </div>
    {% endwith %}

    
    <div style="float:left; width:100%; margin-right:2em;">
      <h3 class="bg-FG">Capacités transversales</h3>
      <ul class="home">
        <li><a href="{{ cap_trans_url }}#COLL" class="thematique">
            <img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">
            La collaboration</a></li>
        <li><a href="{{ cap_trans_url }}#COMM" class="thematique">
            <img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">
            La communication</li>
        <li><a href="{{ cap_trans_url }}#APPR" class="thematique">
            <img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">
            Les stratégies d’apprentissage</li>
        <li><a href="{{ cap_trans_url }}#CREA" class="thematique">
            <img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">
            La pensée créatrice</li>
        <li><a href="{{ cap_trans_url }}#REFL" class="thematique">
            <img style="float:right; padding: 3px;" src="{% static 'img/arrow_right.png' %}">
            La démarche réflexive</li>
      </ul>
    </div>
    
  </div>
</div>
{% endblock %}
