{% extends "public/base.html" %}

{% block title %}Plan d'études romand - Recherche{% endblock %}

{% block content %}
<form method="GET" action=".">
{{ search_form.as_p }}
<input type="submit" value="Rechercher"/>
</form>

{% if total_res != None %}
<p>{{ total_res }} résultats trouvés</p>
<ul>
{% for res in result_list %}
    <li>{{ res.title }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}

