{% extends "public/base.html" %}

{% block title %}Plan d'études romand - {{ tableau.title }}{% endblock %}

{% block content %}
<div id="breadcrumb"><a href="{% url 'home-public' %}">PER</a> &gt; ... </div>

<h2 class="{{ domain.abrev }}">{{ tableau.title }}</h2>

<table class="t_progression">
<thead><tr style="display:none;">
    {% for col in cols %}<th width="{{ col_width }}"></th>{% endfor %}</tr>
</thead>
<tbody id="course-body">
{% for row_key, line in contenu %}
  <tr>
  {% for cell_key, cellule in line.items %}
  <td colspan="{{ cellule.colspan }}" rowspan="{{ cellule.rowspan }}" class="{{ cellule.style }}">
    <div class="cell_content" id="{{ cellule.cell.get_anchor }}">
    {% for content in cellule.cell.formatted_content %}<p>{{ content.texte|safe }}</p>{% endfor %}
    {% if 'progression' in cellule.style or 'attente' in cellule.style or 'indication' in cellule.style %}
      <div class="celllink"><a class="celllink" href="#{{ cellule.cell.get_anchor }}" title="Lien permanent vers cette cellule">¶</div>
    {% endif %}
    </div>
  </td>
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
