{% load pper_extras %}
{# input variable: tbl (={'cols':, 'co_width':, 'init_vis': true/false, 'content':}) #}

<div class="embedded-{{ tbl.init_vis|yesno:"open,closed" }}">
<table class="t_progression">
<thead><tr>
    {% for col in tbl.cols %}<th width="{{ tbl.col_width }}%"></th>{% endfor %}</tr>
</thead>
<tbody id="course-body">
{% for row_key, line in tbl.content %}
  <tr>
  {% for cell_key, cellule in line.items %}
  <td colspan="{{ cellule.colspan }}" rowspan="{{ cellule.rowspan }}" class="{{ cellule.style }}">
    <div class="cell_content" id="{{ cellule.cell.get_anchor }}">
    {% render_cant_resources cellule.cell False True %}
    {% for content in cellule.cell.formatted_content %}<p>{{ content.texte|safe }}</p>{% endfor %}
    {% if 'progression' in cellule.style or 'attente' in cellule.style or 'indication' in cellule.style %}
      <div class="celllink"><a class="celllink" href="#{{ cellule.cell.get_anchor }}" title="Lien permanent vers cette cellule">¶</a></div>
    {% endif %}
    </div>
    {% render_resources cellule.cell False True %}
  </td>
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>
</div>
