{% extends "public/base.html" %}

{% block extra_head %}<style type="text/css">
table.api th { text-align: left; font-size: 120%; padding: 5px; background-color: #ddd; }
table.updates td:first-child { white-space: nowrap; vertical-align: top; }
</style>{% endblock %}

{% block content %}
<h1>API d'accès à la base de données du Plan d'études romand (BD-PER)</h1>

<div><b>Mises à jour</b><br>
<table class="updates"><tr>
    <td>3 juin 2016 :</td>
    <td>Ajout de l'API <code>{% url 'api_objectif' 1 %}</code> pour faciliter la recomposition tabulaire d'un objectif.</td></tr>
  <tr><td>7 juin 2016 :</td>
    <td>Ajout des API de ressources <code>{% url 'api_ressource' 1 %}</code> et <code>{% url 'api_catalogue' 1 %}</code>, avec les clés <code>'ressources'</code> pouvant apparaître dans certains contenus d'objectifs.</td></tr>
</table>
</div>

<p>À partir du contenu de la <a href="{% url 'api_domaines' %}">liste des domaines</a>, des liens (attributs "href")
vous amènent aux différents objets du Plan d'études romand : disciplines, thématiques, objectifs et progresssions.</p>

<table class="api">
    <tr><th>{% url 'api_domaines' %}</th></tr>
    <tr><td><pre>[
    {
        "nom": "&lt;nom du domaine&gt;",
        "id": "&lt;identifiant du domaine&gt;",
        "abreviation": "L",
        "disciplines": [
            {
                "id": "&lt;identifiant de la discipline&gt;",
                "nom": "&lt;nom de discipline&gt;",
                "href": "https://bdper.plandetudes.ch/api/v1/disciplines/&lt;id&gt;"
            },
            ...
        ],
        "objectifs": [
            {
                "id": "&lt;identifiant de l'objectif&gt;",
                "code": "&lt;code d'objectif&gt;",
                "href": "https://bdper.plandetudes.ch/api/v1/objectifs/&lt;id&gt;"
            },
            ...
        ],
        "visee": "Visée 1 du domaine\r\nVisée 2 du domaine\r\n..."
    },
    ...
]
    </pre></td></tr>

    <tr><th>{% url 'api_discipline' 1 %}</th></tr>
    <tr><td><pre>{
    "nom": "&lt;nom de la discipline&gt;",
    "id": "&lt;identifiant de la discipline&gt;",
    "domaine": {
        "id": "&lt;identifiant du domaine&gt;",
        "nom": "&lt;nom du domaine&gt;",
        "href": "https://bdper.plandetudes.ch/api/v1/domaines/&lt;id&gt;"
    }
}
    </pre></td></tr>

    <tr><th>{% url 'api_thematique' 1 %}</th></tr>
    <tr><td><pre>{
    "nom": "&lt;nom de la thématique&gt;",
    "id": "&lt;identifiant de la thématique&gt;",
    "domaine": {
        "id": "&lt;identifiant du domaine&gt;",
        "nom": "&lt;nom du domaine&gt;",
        "href": "https://bdper.plandetudes.ch/api/v1/domaines/&lt;id&gt;"
    },
    "disciplines": [
        {
            "id": "&lt;identifiant de la discipline&gt;",
            "nom": "&lt;nom de la discipline&gt;",
            "href": "https://bdper.plandetudes.ch/api/v1/disciplines/&lt;id&gt;"
        },
        ...
    ],
    "objectifs": [
        {
            "id": "&lt;identifiant de l'objectif&gt;",
            "code": "&lt;code d'objectif&gt;",
            "href": "https://bdper.plandetudes.ch/api/v1/objectifs/&lt;id&gt;"
        },
        ...
    ]
}
    </pre></td></tr>

    <tr><th>{% url 'api_objectif' 1 %}</th></tr>
    <tr><td><pre>{
    "nom": "&lt;intitulé de l'objectif&gt;",
    "id": "&lt;identifiant de l'objectif&gt;",
    "code": "&lt;code, ex: MSN 31&gt;",
    "domaine": {
        "id": "&lt;identifiant du domaine&gt;",
        "nom": "&lt;nom du domaine&gt;",
        "href": "https://bdper.plandetudes.ch/api/v1/domaines/&lt;id&gt;"
    },
    "cycle": &lt;1, 2 ou 3&gt;,
    "objectifs_lies": [
        {
            "id": "&lt;identifiant de l'objectif lié&gt;",
            "nom": "&lt;code de l'objectif lié&gt;",
            "href": "https://bdper.plandetudes.ch/api/v1/objectifs/&lt;id&gt;"
        },
        ...
    ],
    "cantons": "&lt;liste de cantons (code 2 lettres) séparés par des virgules, vide si l'objectif concerne tous les cantons&gt;"
    "thematiques": [
        {
            "id": "&lt;identifiant de la thématique&gt;",
            "nom": "&lt;nom de la thématique&gt;",
            "href": "https://bdper.plandetudes.ch/api/v1/thematiques/&lt;id&gt;"
        },
        ...
    ],
    "disciplines": [
        {
            "id": "&lt;identifiant de la discipline&gt;",
            "nom": "&lt;nom de la discipline&gt;",
            "href": "https://bdper.plandetudes.ch/api/v1/disciplines/&lt;id&gt;"
        },
        ...
    ],
    "composantes": [
        "texte de la première composante",
        "texte de la deuxième composante",
        ...
    ],
    "progressions": [
        {
            "sous-cycle": "&lt;intitulé de sous-cycle (ex: 1re - 2e années)&gt;",
            "annees": [
                &lt;liste des degrés HARMOS concernés par ce sous-cycle (ex: 1, 2)&gt;
            ],
            "items": [
                {
                    "lignes": [
                        &lt;liste des numéros de lignes concernés par cet élément de progression (ex: 7, 8, 9)&gt;
                    ],
                    "contenus": [
                         {
                            "id": "&lt;identifiant du contenu&gt;",
                            "href": "https://bdper.plandetudes.ch/api/v1/progressions/&lt;id&gt;",
                            "texte": "contenu de progression 1"
                         },
                        ...
                    ],
                    "ressources": ["&lt;liste facultative de liens vers des ressources&gt;", ...]
                },
                ...
            ]
        },
        ...
    ],
    "titres": [
        {
            "lignes": [
                &lt;numéro de ligne de progression concerné par ce titre&gt;
            ],
            "contenus": [
                "contenu du titre"
            ],
            "annees": [
                &lt;liste des degrés HARMOS concernés par ce titre (ex: 1, 2)&gt;
            ],
            "niveau": &lt;niveau de titre (1: premier niveau, 2: deuxième niveau)&gt;
        },
        ...
    ],
    "liens": [
        {
            "lignes": [
                &lt;numéro de ligne de progression concerné par ce lien&gt;
            ],
            "contenus": [
                "contenu du lien"
            ],
        },
        ...
    ],
    "attentes": [
        {
            "lignes": [
                &lt;liste des numéros de lignes de progression concernés par cette attente fondamentale (ex: 7, 8, 9)&gt;
            ],
            "contenus": [
                {
                    "id": "&lt;identifiant du contenu&gt;",
                    "href": "https://bdper.plandetudes.ch/api/v1/attentes/&lt;id&gt;",
                    "texte": "texte de l'attente fondamentale 1"
                },
                ...
            ]
        },
        ...
    ],
    "indications": [
        {
            "lignes": [
                &lt;liste des numéros de lignes de progression concernés par cette indication pédagogique (ex: 7, 8, 9)&gt;
            ],
            "contenus": [
                {
                    "id": "&lt;identifiant du contenu&gt;",
                    "href": "https://bdper.plandetudes.ch/api/v1/indications/&lt;id&gt;",
                    "texte": "texte de l'indication pédagogique 1"
                },
                ...
            ]
        },
        ...
    ]
}
    </pre></td></tr>

    <tr><th>{% url 'api_objectif_table' 1 %}</th></tr>
    <tr><td>API semblable à la précédente, mais le formatage du contenu dans la clé "tableau" est moins sémantique et ressemble plus au tableau d'objectif tel qu'il est présenté sur <a href="https://portail.ciip.ch/">portail.ciip.ch.</a></td></tr>
    <tr><td><pre>{
    "nom": "&lt;intitulé de l'objectif&gt;",
    "id": "&lt;identifiant de l'objectif&gt;",
    "code": "&lt;code, ex: MSN 31&gt;",
    "domaine": {
        "id": "&lt;identifiant du domaine&gt;",
        "nom": "&lt;nom du domaine&gt;",
        "href": "https://bdper.plandetudes.ch/api/v1/domaines/&lt;id&gt;"
    },
    "cycle": &lt;1, 2 ou 3&gt;,
    "objectifs_lies": [
        {
            "id": "&lt;identifiant de l'objectif lié&gt;",
            "nom": "&lt;code de l'objectif lié&gt;",
            "href": "https://bdper.plandetudes.ch/api/v1/objectifs/&lt;id&gt;"
        },
        ...
    ],
    "cantons": "&lt;liste de cantons (code 2 lettres) séparés par des virgules, vide si l'objectif concerne tous les cantons&gt;"
    "thematiques": [
        {
            "id": "&lt;identifiant de la thématique&gt;",
            "nom": "&lt;nom de la thématique&gt;",
            "href": "https://bdper.plandetudes.ch/api/v1/thematiques/&lt;id&gt;"
        },
        ...
    ],
    "disciplines": [
        {
            "id": "&lt;identifiant de la discipline&gt;",
            "nom": "&lt;nom de la discipline&gt;",
            "href": "https://bdper.plandetudes.ch/api/v1/disciplines/&lt;id&gt;"
        },
        ...
    ],
    "composantes": [
        "texte de la première composante",
        "texte de la deuxième composante",
        ...
    ],
    "tableau": [
        [
            {
                "colspan": &lt;nombre de colonnes que la cellule remplit&gt;,
                "rowspan": &lt;nombre de lignes que la cellule remplit&gt;,
                "type": "&lt;type de cellule : 'en-tête', 'titre', 'progression', 'attente', 'indication', 'liens'&gt;",
                "contenus": {
                    "id": "&lt;identifiant de contenu&gt;",
                    "texte": "texte du contenu"
                },
                "niveau": &lt;1 ou 2, si type = 'titre'&gt;,
                "ressources": ["&lt;liste facultative de liens vers des ressources&gt;", ...]
            },
            ...
        ],
        ...
    ]
}
    </pre></td></tr>

</table>
{% endblock %}
