{% extends "eprocom/eprocom_base.html" %}

{% block content %}
<h1>Items disponibles dans la Banque d’items</h1>

<form method="post">{% csrf_token %}
    <input name="p" type="hidden" value="{{ page.number }}">
    <ul id="admin-list">
        {% for item in page.items %}
        <li{% if not item.updated %} class="unimported"{% endif %}>
            <div>{{ item.discipline }}, cycle {{ item.cycle }}, {{ item.objectif }}<br>
            {{ item.id }}. {{ item.titre }}
            </div>
            <div class="text-right">
            {% if item.updated %}
                Dernière mise à jour le {{ item.updated|date:'j.n.Y H:i' }}
                <button formaction="{% url 'epro-admin-import' item.id %}" type="submit">Mettre à jour</button>
                <button formaction="{% url 'epro-admin-delete' item.id %}" type="submit"
                        data-confirm="Voulez-vous vraiment retirer cet item du site ?">Retirer</button>
            {% else %}
                <button formaction="{% url 'epro-admin-import' item.id %}" type="submit">Importer</button>
            {% endif %}
            <br>JSON: <a href="{% url 'epro-admin-jsondetails' item.id %}">détails</a> | <a href="{% url 'epro-admin-jsonper' item.id %}">per</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</form>

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?p=1">&laquo; début</a>
            <a href="?p={{ page.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} sur {{ page.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?p={{ page.next_page_number }}">suivant</a>
            <a href="?p={{ page.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
