<form method="post" action="{{ request.path }}" hx-boost="true" hx-target="closest .epro-bloc" hx-select=".epro-bloc">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer</button>
    <button type="button" hx-get="{% url 'epro-block' view.kwargs.pk %}" hx-target="closest .epro-bloc">Annuler</button>
</form>
