{% extends "public/base_pper_absolute.html" %}

{% block title %}Plan d’études romand - Pistes pour l’évaluation{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/eprocom.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/style-rich-text-editor.css' %}">
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'eprocom.js' %}" type="module"></script>
{% endblock %}

{% block content %}
<div id="eproheader">
    <div id="eprologo"><img src="{% static 'img/logo-eprocom.png' %}"></div>
    <div id="eprotitle">{% block eprotitle %}{% endblock %}</div>
</div>
<div id="eprocontainer" class="domain-{{ domain }}">
    <div id="leftsidebar">{% include menu_template %}</div>
    <div id="eprocontent">{% block eprocontent %}{% endblock %}</div>
</div>
{% endblock %}
