{% extends "eprocom/eprocom_base.html" %}
{% load eprocom %}

{% block eprotitle %}
<h1 class="L">Pistes pour l’évaluation - Français - 8<sup>e</sup> année</h1>
{% endblock %}

{% block eprocontent %}

<h2 class="L">Contexte</h2>

{% editable_block 'fra8-contexte' %}

<h2 class="L">Clés de lecture</h2>

{% editable_block 'fra8-cles-lecture' %}


{% endblock %}
