{% extends "ressource/resource_base.html" %}

{% block content %}
<h1>Pistes pour l'évaluation</h1>

<ul>
    <li><a href="{% url 'epro-page' 'maths-8' %}">Mathématiques 8<sup>e</sup> année</a></li>
    <li><a href="{% url 'epro-page' 'francais-8' %}">Français 8<sup>e</sup> année</a></li>
</ul>

{% if perms.eprocom.add_item %}
<p>
    <a href="{% url 'epro-admin-home' %}">Administration des items</a><br>
    <a href="https://bdper.plandetudes.ch/cgi-bin/awstats.pl?config=bdper-eprocom">Statistiques d’accès</a>
</p>
{% endif %}

{% endblock %}
