{% extends "eprocom/eprocom_base.html" %}
{% load eprocom %}

{% block eprotitle %}
<h1 class="MSN">Pistes pour l’évaluation - Mathématiques - 8<sup>e</sup> année</h1>
{% endblock %}

{% block eprocontent %}

<h2 class="MSN">Contexte</h2>

{% editable_block 'maths8-contexte' %}

<h2 class="MSN">Clés de lecture</h2>

{% editable_block 'maths8-navigation' %}

{% endblock %}
