{% load eprocom %}
<nav class="leftmenu MSN">
    <ul>
        <li>
            <div><a href="{% url 'epro-page' 'maths-8' %}">Accueil</a></div>
        </li>

        <li>
            <div class="menuheader"><span class="openmenu">+</span> Éclairages</div>
            <ul class="submenu {% if code|startswith:'eclairages' %}open{% endif %}">
                <li><a href="{% url 'epro-page' 'maths-8/eclairages_categ' %}">Catégories de tâches</a></li>
                <li class="subsub"><a href="{% url 'epro-page' 'maths-8/eclairages_resolution' %}">Résolution de problèmes</a></li>
                <li class="subsub"><a href="{% url 'epro-page' 'maths-8/eclairages_variables' %}">Variables didactiques</a></li>
                <li class="subsub"><a href="{% url 'epro-page' 'maths-8/eclairages_guide' %}">Choix des tâches</a></li>
                <li><a href="{% url 'epro-page' 'maths-8/eclairages_questions' %}">Format des questions</a></li>
            </ul>
        </li>
    </ul>

    <p class="menutitle">Ressources évaluatives</p>

    <form id="search_form" method="get" action="{% url 'epro-maths-search' %}">
        <div class="flex">
            {{ search_form.q }}
            <button type="submit"><img src="{% static 'img/search.svg' %}"></button>
        </div>
    </form>

    <ul>
        <li>
            <div class="menuheader"><span class="openmenu">+</span> MSN 21 <em>Espace</em></div>
            <ul class="submenu {% if code == 'msn21' %}open{% endif %}">
                <li><a href="{% url 'epro-page' 'maths-8/msn21-figures' %}">Figures géométriques planes et solides</a></li>
                <li class="disabled">Transformations géométriques</li>
                <li><a href="{% url 'epro-page' 'maths-8/msn21-reperage' %}">Repérage dans le plan et dans l’espace</a></li>
            </ul>
        </li>
        <li>
            <div class="menuheader"><span class="openmenu">+</span> MSN 22 <em>Nombres</em></div>
            <ul class="submenu {% if code == 'msn22' %}open{% endif %}">
                <li class="disabled">Dénombrement et extension du domaine numérique</li>
                <li><a href="{% url 'epro-page' 'maths-8/msn22-comparaison' %}">Comparaison et représentation de nombres</a></li>
                <li><a href="{% url 'epro-page' 'maths-8/msn22-ecriture' %}">Écriture de nombres</a></li>
            </ul>
        </li>
        <li>
            <div class="menuheader"><span class="openmenu">+</span> MSN 23 <em>Opérations</em></div>
            <ul class="submenu {% if code == 'msn23' %}open{% endif %}">
                <li><a href="{% url 'epro-page' 'maths-8/msn23-probaddsous' %}">Problèmes additifs et soustractifs</a></li>
                <li><a href="{% url 'epro-page' 'maths-8/msn23-probmultdiv' %}">Problèmes multiplicatifs et divisifs</a></li>
                <li class="disabled">Calculatrice</li>
                <li><a href="{% url 'epro-page' 'maths-8/msn23-multiples' %}">Multiples, diviseurs, suites de nombres</a></li>
                <li class="disabled">Calculs</li>
                <li><a href="{% url 'epro-page' 'maths-8/msn23-tableaux' %}">Lecture de tableaux de valeurs et représentations graphiques</a></li>
            </ul>
        </li>
        <li>
            <div class="menuheader"><span class="openmenu">+</span> MSN 24 <em>Grandeurs et mesures</em></div>
            <ul class="submenu {% if code == 'msn24' %}open{% endif %}">
                <li><a href="{% url 'epro-page' 'maths-8/msn24-mesgrandeurs' %}">Mesure de grandeurs</a></li>
                <li><a href="{% url 'epro-page' 'maths-8/msn24-calcgrandeurs' %}">Calcul de grandeurs</a></li>
                <li><a href="{% url 'epro-page' 'maths-8/msn24-unites' %}">Unités de mesure</a></li>
            </ul>
        </li>
        <li>
            <div class="menuheader">
                <a href="{% url 'epro-page' 'maths-8/msn25-modelisation' %}">MSN 25 <em>Modélisation</em></a>
            </div>
        </li>
    </ul>
</nav>
