{% load eprocom %}
<nav class="leftmenu L">
    <ul>
        <li>
            <div><a href="{% url 'epro-page' 'francais-8' %}">Accueil</a></div>
        </li>

        <li>
            <div class="menuheader"><span class="openmenu">+</span> Éclairages</div>
            <ul class="submenu {% if code|startswith:'eclairages' %}open{% endif %}">
                <li><a href="{% url 'epro-page' 'francais-8/eclairages_comprehension' %}">Compréhension de l’écrit</a></li>
                <li class="subsub"><a href="{% url 'epro-page' 'francais-8/eclairages_choixquestions' %}">Évaluer la compréhension de l’écrit</a></li>
                <li class="subsub"><a href="{% url 'epro-page' 'francais-8/eclairages_diffecrits' %}">Difficulté des textes</a></li>
                <li class="subsub"><a href="{% url 'epro-page' 'francais-8/eclairages_difficulte' %}">Difficulté des questions</a></li>
                <li><a href="{% url 'epro-page' 'francais-8/eclairages_production' %}">Production de l’écrit</a></li>
                <li class="subsub"><a href="{% url 'epro-page' 'francais-8/eclairages_evalproduction' %}">Évaluer la production de l’écrit</a></li>
                <li><a href="{% url 'epro-page' 'francais-8/eclairages_questions' %}">Format des questions</a></li>
            </ul>
        </li>
    </ul>

    <p class="menutitle">Ressources évaluatives</p>
    <ul>
        <li>
            <div class="menuheader"><span class="openmenu">+</span> L1 21<br><em>Compréhension de l’écrit</em></div>
            <ul class="submenu {% if code == 'l121' %}open{% endif %}">
                <li><a href="{% url 'epro-page' 'francais-8/l121-raconte' %}">Le texte qui raconte</a></li>
                <li class="disabled">Le texte qui relate</li>
                <li class="disabled">Le texte qui argumente</li>
                <li class="disabled">Le texte qui transmet des savoirs</li>
                <li class="disabled">Le texte qui règle des comportements</li>
                <li class="disabled">Le texte qui joue avec la langue – Le texte poétique</li>
            </ul>
        </li>
        <li>
            <div class="menuheader"><span class="openmenu">+</span> L1 22<br><em>Production de l’écrit</em></div>
            <ul class="submenu {% if code == 'l122' %}open{% endif %}">
                <li><a href="{% url 'epro-page' 'francais-8/l122-raconte' %}">Le texte qui raconte</a></li>
                <li class="disabled">Le texte qui relate</li>
                <li><a href="{% url 'epro-page' 'francais-8/l122-argumente' %}">Le texte qui argumente</a></li>
                <li class="disabled">Le texte qui transmet des savoirs</li>
                <li class="disabled">Le texte qui règle des comportements</li>
                <li class="disabled">Le texte qui joue avec la langue – Le texte poétique</li>
            </ul>
        </li>
        <li class="disabled">
            <div class="menuheader"><span class="openmenu">+</span> L1 23<br><em>Compréhension de l’oral</em></div>
            <ul class="submenu {% if code == 'l123' %}open{% endif %}">
            </ul>
        </li>
        <li class="disabled">
            <div class="menuheader"><span class="openmenu">+</span> L1 24<br><em>Production de l’oral</em></div>
            <ul class="submenu {% if code == 'l124' %}open{% endif %}">
            </ul>
        </li>
    </ul>
</nav>
