body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
}

ul {
  margin-top: 2px;
  margin-left: 0.5em;
  padding-left: 1em;
}
li {
  margin: 0;
  padding: 0;
}

ul.indented {
  padding-left: 4em;
}

ul.errorlist li {
  color: red;
}

dd {
  margin-left: 0;
  font-weight: bold;
}
dt {
  margin-left: 2em;
}

img { border:0 }

img.inline { vertical-align: text-bottom; }

img.res_logo { max-height: 20px; }

h1.logo img {
    height: 87px;
}
.clear { clear: both; }

.domain {
    font-size: x-small;
    text-align: center;
    padding: 6px;
}

.draft, .draft > a {
  color: red;
}

/* Colors for domain headings and links */
.L, .L a {
  background-color: #fef200;
  color: #736c00;
}
.linkL {
  text-decoration: none;
  background-color: white;
  color: #e5db00;
}

.MSN, .MSN a {
  background-color: #ed1941;
  color: white;
}
.linkMSN {
  text-decoration: none;
  background-color: white;
  color: #ed1941;
}

.SHS, .SHS a {
  background-color: #298434;
  color: white;
}
.linkSHS {
  text-decoration: none;
  background-color: white;
  color: #298434;
}

.A, .A a {
  background-color: #f7941f;
  color: white;
}
.linkA {
  text-decoration: none;
  background-color: white;
  color: #f7941f;
}

.CM, .CM a {
  background-color: #0153a5;
  color: white;
}
.linkCM {
  text-decoration: none;
  background-color: white;
  color: #0153a5;
}

.EN, .EN a {
  background-color: #BD4EA1;
  color: white;
}
.linkEN {
  text-decoration: none;
  background-color: white;
  color: #BD4EA1;
}

.FG, .FG a {
  background-color: #f4edff;
  color: #6b4a79;
}
.linkFG {
  text-decoration: none;
  background-color: white;
  color: #582e9b;
}

.GEN {
  background-color: lightgray;
  color: black;
}

.linkCT {
  text-decoration: none;
  background-color: white;
  color: #917146;
}

em.link {
  background-color: #CCCCCC;
  font-style: normal;
}

a.niveau {
  color: red !important;
}

.lex_mark {
  color: purple;
}
.lex_mark_notfound {
  color: red;
}
.lex_term {
  border-bottom: 1px dotted gray;
}
.lex_discipline {
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

td.thematique {
    font-size: x-small;
    width: 150px;
    text-align: center;
}

p.objectif {
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

div.linked_objective {
  float: right;
  clear: right;
  margin-top: 4px;
  padding: 0.3em;
  border: 1px solid black;
  width: 35%;
}  

p.discipline {
    font-size: xx-small;
    text-align: center;
}

td.titre {
    vertical-align:top;
    text-align: center;
    font-weight: bold;
}

/*td.titre2 {
    background-color: #DDDDDD;
    vertical-align:top;
    text-align: center;
    font-weight: bold;
}*/

td.titre1L {
    background-color: #FFFF99;
    font-size: 1.3em;
}
td.titre1MSN {
    background-color: #FDB0AC;
    font-size: 1.3em;
}
td.titre1SHS {
    background-color: #A9FDAF;
    font-size: 1.3em;
}
td.titre1A {
    background-color: #FCE6CF;
    font-size: 1.3em;
}
td.titre1CM {
    background-color: #9ACAE7;
    font-size: 1.3em;
}
td.titre1FG {
    background-color: #EFCEFF;
    color: #FF0000;
    font-size: 1.3em;
}
td.titre1EN {
    background-color: #BD4EA1;
    color: white;
    font-size: 1.3em;
}

td.titre2L {
    background-color: #FEF200;
}
td.titre2MSN {
    background-color: #FFCACA;
    color: #FF0000;
}
td.titre2SHS {
    background-color: #009933;
    color: #FFFFFF;
}
td.titre2A {
    background-color: #FFEFBF;
}
td.titre2CM {
    /* same as titre1 */
    background-color: #9ACAE7;
}
td.titre2FG {
    background-color: #e6e6fa;
}
td.titre2EN {
    background-color: #EFB0E2;
}

.progression ul {
    list-style-type: circle;
}
.indication ul {
    list-style-type: circle;
}

span.content {
  display: block;
  margin-bottom: 1em;
}

td.specification {
    vertical-align:top;
    text-align: center;
}

td.liens {
    text-align: left;
    /*background-color: #CCCCCC;*/
}

table.t_progression {
    font-size: 10px; /*xx-small;*/
    border: 2px solid #B3A37D;
    border-collapse: collapse;
    width: 760px;
    /* border-collapse:separate; */
    /* border-spacing:2px; */
}

table.t_progression * td {
    border: 1px solid #B3A37D;
    vertical-align: top;
    padding: 3px;
}
table.t_progression * th {
    border: 1px solid #B3A37D;
    padding: 5px;
    background-color: white;
}

td.nobot {
    border-bottom-style : hidden !important;
}
td.noup {
    border-top-style : hidden !important;
}
td.noupbot {
   border-bottom-style : hidden !important;
   border-top-style : hidden !important;
}

table.ct_table {
    margin: 0 auto;
    width: 730px;
    border: 1px solid #FF0000;
    border-collapse: collapse;
}

.edit_column {
  display: none;
  vertical-align: bottom !important;
  white-space: nowrap;
  width: 5%;
}
.edit_widgets, .paste_icon {
  display: none;
}
.pop_editor { text-decoration: none; }
.pop_editor img { width: 12px; }

.even {
  background-color: #dddddd;
}

.messages {
  list-style-type: none;
  background-color: #73d216;
  padding: 0.8em;
}
li.error, li.warning {
  background-color: #ff8fa0;
}

.ref_composante {
  color: #1e90ff;
}
.ref_composante_introuvable {
  color: red;
}

.ref_niveau {
  color: #a52a2a;
}

.help {
  color: #666666;
}

div.cellcontent {
  position: relative;
}

div.resources {
  margin-bottom: 0.6em;
}
div.validating, div.avalider, div.limite {
  background-color: #FFDA99;
}
div.resources > div {
  margin-bottom: 0.4em;
}
div.resources-cant {
  font-style: italic;
  border-style: dotted;
  padding: 2px;
  margin-bottom: 0.6em;
}

form.dialog_edit th {
  vertical-align: top;
  padding-top: 3px;
  text-align: right;
}
form.dialog_edit textarea, form.dialog_edit input, form.dialog_edit button {
  border: 1px solid gray;
}
form.dialog_edit input[type='file'] {
  border: none;
}
form.dialog_edit input[type='text'], form.dialog_edit input[type='url'] {
  width: 100%;
}
form.dialog_edit textarea {
  width: 100%;
  height: 7em;
}
form.dialog_edit .helptext {
  font-style: italic;
  color: #777;
}

/* style for numero input */
div.subform input[type='text'] { width: 5em; }
div.subform label { font-style: italic; }

form#subtheme_edit input.num { width: 3em; }
form#subtheme_edit input.name { width: 18em; }

label.disabled {
  font-style: italic;
  color: #666;
}

label.bsn_required::before {
    content: "*";
    color: red;
}

div.subform > label {
  font-weight: bold;
}

ul#id_target_gr, ul#id_type_doc, ul#id_type_ped, ul#id_educ_level {
  list-style-type: none;
}

div.edit {
  display: none/*inline*/;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 0.5em;
}

textarea.wysiwyg {
  width: 90%;
}

.tip.private > img { background-color: #FF7171; border-radius: 6px; }
.tip_form #id_titre { width: 100%; }
.tip_form #id_source { width: 100%; height: 4em; }

.lexique_list dd { margin-top: 0.8em; }

/***** MODAL DIALOG ****/

/* jQuery UI autocomplete should show also in modals */
.ui-front { z-index: 1000 !important; }

#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}
#modal.hidden { display: none; }

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}
#modal.hidden .modal-underlay { display: none; }

.modal-content input[type=url] { width: 100%; }
#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:700px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Aniate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
}

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
}
/***** END MODAL DIALOG ****/
