{% if widget.value %}
  {% include "django/forms/widgets/multiple_input.html" %}
{% else %}
<ul class="per-link" data-name="{{ widget.name }}">
    <li class="per-link-level per-link-cycle" data-url="">
        <span class="per-link-levellabel">Cycle :</span> <span class="value"></span>
        <ul class="per-choice">
            <li data-value="1"><div class="per-choice-label">Cycle 1</div></li>
            <li data-value="2"><div class="per-choice-label">Cycle 2</div></li>
            <li data-value="3"><div class="per-choice-label">Cycle 3</div></li>
        </ul>
    </li>
    <li class="per-link-level" data-url="{% url 'api_domaines' %}" style="display: none;">
        <span class="per-link-levellabel">Domaine :</span> <span class="value"></span>
        <ul class="per-choice"></ul>
    </li>
    <li class="per-link-level disciplines" data-url="{% url 'api_domaine' 0 %}" style="display: none;">
        <span class="per-link-levellabel">Discipline :</span> <span class="value"></span>
        <ul class="per-choice"></ul>
    </li>
    <li class="per-link-level objectifs" data-url="{% url 'api_objectifs_par_discipline' 0 %}" style="display: none;">
        <span class="per-link-levellabel">Objectif :</span> <span class="value"></span>
        <ul class="per-choice"></ul>
    </li>
    <li class="per-link-level progressions" data-url="{% url 'api_objectif_table' 0 %}" style="display: none;">
        <span class="per-link-levellabel">Progressions :</span>
        <table class="per-choice"></table>
    </li>
</ul>
<div class="add-widget">
    <button class="per-link per-link-add">Ajouter le(s) lien(s)</button>
</div>
{% endif %}
